/build/*
/work/*
/results/*
/conf/containers.config
/conf/tools-path.config
utils/docs/_build/
.idea/
.vscode/

nf-wgswes-icnuc/nf-wgswes-icnuc.iml

# Nextflow output
main.test.nf
.nextflow*
work
results
test.nf
/nf-vegan.iml
/.gradle/
