/*
 * -------------------------------------------------
 *  Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 * Cluster-specific config options should be saved
 * in the conf folder and imported under a profile
 * name here.
 */

manifest {
  name = 'VEGAN'
  description = 'Variant calling pipeline for whole Exome and Genome sequencing cANcer data'
  homePage = 'https://gitlab.curie.fr/data-analysis/vegan'
  author = 'Institut Curie - Bioinformatics core facility'
  version = '2.3.0dev'
  mainScript = 'main.nf'
  nextflowVersion = '>20.04.0'
  doi = ''
}

/**********
 * Params *
 **********/

params {
  disableAutoClean = false

  help = false
  name = false
  samplePlan = null
  design = null

  // Input parameters
  splitFastq = false
  fastqChunksSize = 20000000
  genome = false
  singleEnd = false
  reads = null
  readPaths = []
  //nucleotidesPerSecond = 1000.0 // Default interval size

  // Tools parameters
  nucleotidesPerSecond = 1000
  noIntervals = false
  gatkTmpDir = "./"
  // Seed length of 19bp (k) and minimum score to report an alignement is 30 (-T), more options can be provided, mark shorter split hits as secondary (-M), cf bwa mem manual
  bwaOpts = "-k 19 -T 30 -M"
  cram = false
  dragmapOpts = false
  baseQual = 13
  mapQual = 20 // Minimum mapping quality to consider for an alignment
  ascatPloidy = null
  ascatPurity = null
  pon = false // No default PON (Panel of Normals) file for GATK Mutect2
  ponIndex = false // No default PON index for GATK Mutect2
  targetBed = false // No default TargetBED file for targeted sequencing
  mutect2Opts = "--dont-use-soft-clipped-bases"
  snpeffOpts = "-noInteraction -noNextProt -nodownload"
  facetsOpts = "--normalDepth 25 --maxDepth 1000 --ampCopy 5 --hetThres 0.25"

  // Metadata
  url = 'https://gitlab.curie.fr/data-analysis/vegan'
  hostnames = false
  configProfileContact = false
  configProfileDescription = false
  configProfileUrl = false
  monochromeLogs = false // Monochrome logs disabled
  sequencingCenter = null // No sequencing center to be written in BAM header in MapReads process

  // Configuration files
  multiqcConfig = "${projectDir}/assets/multiqcConfig.yaml" // Default multiqc config
  metadata = "${projectDir}/assets/metadata.tsv"
  step = 'mapping' // Starts with mapping
  aligner = 'bwa-mem' // bwa-mem, bwa-mem2, dragmap
  //annotateTools = [] // Only with --step annotate
  tools = false // No default Variant Calling or Annotation tools
  preseqDefect = false

  // BAM Filtering
  keepDups = false
  keepSingleton = false
  keepMultiHits = false

  // VCF filtering
  filterSomaticDP = 20
  filterSomaticVAF = 0.05
  filterSomaticMAF = 0.001

  // Annotation
  annotDb = false

  // TMB
  ffpe = false
  tmbFiltersFrozen = "--vaf 0.05 --maf 0.001 --minDepth 20 --minAltDepth 2 --filterLowQual --filterNonCoding --filterSyn --filterPolym --polymDb 1k,gnomad"
  tmbFiltersFFPE = "--vaf 0.10 --maf 0.001 --minDepth 20 --minAltDepth 2 --filterLowQual --filterNonCoding --filterSyn --filterPolym --polymDb 1k,gnomad"

  // MSI
  msiBaselineConfig = null
  
  // Output directories
  saveAlignedIntermediates = false
  saveVcfIntermediates = false
  saveVcfMetrics = false
  outDir = './results'
  summaryDir = "${params.outDir}/summary"

  // Skip parameters
  skipBQSR = false
  skipIdentito = false
  skipMultiQC = false
  skipSaturation = false
  skipFastqc = false
  skipBamQC = false
  skipMutectContamination = false
  skipMutectOrientationModel = false
}

/************************
 * Configs and profiles *
 ************************/

// Basic configs
includeConfig 'conf/base.config'
includeConfig 'conf/process.config'
includeConfig 'conf/geniac.config'
includeConfig 'conf/modules.config'

// Genome configuration (use annotation path from base.conf or from profiles (if defined)
includeConfig 'conf/genomes.config'

// Profiles
profiles {
  conda {
    includeConfig 'conf/conda.config'
  }
  multiconda {
    includeConfig 'conf/multiconda.config'
  }
  docker {
    includeConfig 'conf/docker.config'
  }
  singularity {
    includeConfig 'conf/singularity.config'
  }
  path {
    includeConfig 'conf/path.config'
  }
  multipath {
    includeConfig 'conf/multipath.config'
  }
  cluster {
    includeConfig 'conf/cluster.config'
  }
  test {
    includeConfig 'conf/test.config'
  }
  testwgs {
    includeConfig 'conf/test_wgs.config'
  }
  testwes {
    includeConfig 'conf/test_wes.config'
  }
}
