/*
 * -------------------------------------------------
 *  Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 * Cluster-specific config options should be saved
 * in the conf folder and imported under a profile
 * name here.
 */

manifest {
  name = 'VEGAN' //'@git_repo_name@'
  description = 'Variant calling pipeline for whole Exome and Genome sequencing cANcer data' //'@ap_pipeline_description@'
  homePage = '@git_url@'
  author = 'Institut Curie - Bioinformatics core facility'
  version = '0.1.1dev'
  mainScript = 'main.nf'
  nextflowVersion = '>=19.10.0'
}

/**********
 * Params *
 **********/

params {
  help = false
  // No default run Name
  name = false
  url = 'https://gitlab.curie.fr/data-analysis/vegan'
  hostnames = false
  configProfileContact = false
  configProfileDescription = false
  configProfileUrl = false
  monochromeLogs = false // Monochrome logs disabled
  sequencingCenter = null // No sequencing center to be written in BAM header in MapReads process

  // analysis parameters
  design = false
  genome = false
  multiqcConfig = "${baseDir}/assets/multiqcConfig.yaml" // Default multiqc config
  metadata = "${baseDir}/assets/metadata.tsv"
  noGVCF = null // g.vcf are produced by HaplotypeCaller
  noIntervals = null // Intervals will be built from the fasta file
  skipQC = [] // All QC tools are used
  SVFilters = 'mapq,markduplicates'
  SNVFilters = 'mapq,markduplicates,uniq'
  annotateTools = [] // Only with --step annotate
  step = 'mapping' // Starts with mapping
  tools = [] // No default Variant Calling or Annotation tools

  // output directories
  outputDir = './results'
  summaryDir = "${params.outputDir}/Summary"

  // Optional files/directory
  pon = false // No default PON (Panel of Normals) file for GATK Mutect2 / Sentieon TNscope
  ponIndex = false // No default PON index for GATK Mutect2 / Sentieon TNscope
  targetBED = false // No default TargetBED file for targeted sequencing
}

/************************
 * Configs and profiles *
 ************************/

// Basic configs
includeConfig 'conf/base.config'
includeConfig 'conf/process.config'
includeConfig 'conf/geniac.config'

// Genome configuration (use annotation path from base.conf or from profiles (if defined)
includeConfig 'conf/genomes.config'

// Additionnal configuration parameters for the tools
includeConfig 'conf/tools.config'

// TODO: Remove test_local if test_gitlab works
// Profiles
profiles {
  conda {
    includeConfig 'conf/conda.config'
  }
  multiconda {
    includeConfig 'conf/multiconda.config'
  }
  docker { 
    includeConfig 'conf/docker.config'
  }
  singularity { 
    includeConfig 'conf/singularity.config'
  }
  path {
    includeConfig 'conf/path.config'
  }
  multipath {
    includeConfig 'conf/multipath.config'
  }
  cluster {
    includeConfig 'conf/cluster.config'
  }
  test {
    includeConfig 'conf/test/test.config'
  }  
  testSarek {
    includeConfig 'conf/test/sarek.config'
  }
}
