/*
 * -------------------------------------------------
 *  Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 * Cluster-specific config options should be saved
 * in the conf folder and imported under a profile
 * name here.
 */

manifest {
  name = 'VEGAN' //'@git_repo_name@'
  description = 'Variant calling pipeline for whole Exome and Genome sequencing cANcer data' //'@ap_pipeline_description@'
  homePage = '@git_url@'
  author = 'Institut Curie - Bioinformatics core facility'
  version = '0.1.1dev'
  mainScript = 'main.nf'
  nextflowVersion = '>20.04.0'
}

/**********
 * Params *
 **********/

params {
  help = false
  name = false
  samplePlan = false
  design = false

  // Analysis parameters
  genome = false
  singleEnd = false
  reads = null
  readPaths = []

  // Optional parameters
  saveAlignedIntermediates = false
  baseRecalibratorTmpDir = "./"
  bwaOptions = "-k 19 -T 30 -M" // Seed length of 19bp (k) and minimum score to report an alignement is 30 (-T), more options can be provided, mark shorter split hits as secondary (-M), cf bwa mem manual
  mapQual = 20 // Minimum mapping quality to consider for an alignment
  nucleotidesPerSecond = 1000.0 // Default interval size
  splitFastq = null // Fastq files will not be split by default
  saveGenomeIndex = null // Built Indexes not saved
  ascatPloidy = null
  ascatPurity = null

  // Metadata
  url = 'https://gitlab.curie.fr/data-analysis/vegan'
  hostnames = false
  configProfileContact = false
  configProfileDescription = false
  configProfileUrl = false
  monochromeLogs = false // Monochrome logs disabled
  sequencingCenter = null // No sequencing center to be written in BAM header in MapReads process

  // Configuration files
  multiqcConfig = "${projectDir}/assets/multiqcConfig.yaml" // Default multiqc config
  metadata = "${projectDir}/assets/metadata.tsv"
  noIntervals = null // Intervals will be built from the fasta file
  saveGVCF = false
  step = 'mapping' // Starts with mapping
  SVFilters = 'mapq,duplicates'
  SNVFilters = 'mapq,duplicates'
  annotateTools = [] // Only with --step annotate
  tools = [] // No default Variant Calling or Annotation tools
  preseqDefect = false

  // Output directories
  outDir = './results'
  bamDir = "${params.outDir}/preprocessing/bams"
  filteredBamDir = "${params.bamDir}/filtering"
  bqsrBamDir = "${params.bamDir}/bqsr"
  summaryDir = "${params.outDir}/summary"

  // Optional files/directory
  pon = false // No default PON (Panel of Normals) file for GATK Mutect2 / Sentieon TNscope
  ponIndex = false // No default PON index for GATK Mutect2 / Sentieon TNscope
  targetBED = false // No default TargetBED file for targeted sequencing

  // Skip parameters
  skipQC = false
  skipBQSR = false // Allow to skip BQSR steps
  skipIdentito = false
  skipMultiqc = false
  skipPreseq = false
  skipMutectContamination = false
}

/************************
 * Configs and profiles *
 ************************/

// Basic configs
includeConfig 'conf/base.config'
includeConfig 'conf/process.config'
includeConfig 'conf/geniac.config'

// Genome configuration (use annotation path from base.conf or from profiles (if defined)
includeConfig 'conf/genomes.config'

// Additionnal configuration parameters for the tools
//includeConfig 'conf/tools.config'

// TODO: Remove test_local if test_gitlab works
// Profiles
profiles {
  conda {
    includeConfig 'conf/conda.config'
  }
  multiconda {
    includeConfig 'conf/multiconda.config'
  }
  docker {
    includeConfig 'conf/docker.config'
  }
  singularity {
    includeConfig 'conf/singularity.config'
  }
  path {
    includeConfig 'conf/path.config'
  }
  multipath {
    includeConfig 'conf/multipath.config'
  }
  cluster {
    includeConfig 'conf/cluster.config'
  }
  test {
    includeConfig 'conf/test.config'
  }
  testSarek {
    includeConfig 'conf/test/sarek.config'
  }
}
