/*
 * -------------------------------------------------
 *  Nextflow base config file
 * -------------------------------------------------
 * A 'blank slate' config file, appropriate for general
 * use on most high performace compute environments.
 * Assumes that all software is installed and available
 * on the PATH. Runs in `local` mode - all jobs will be
 * run on the logged in environment.
 */


/*
 * Global default params, used in configs
 */

params {

  help = false
  name = 'nf-vegan' 
  hostnames = false

  // analysis parameters
  annotateTools = null // Only with --step annotate
  genome = false
  input = null // No default input
  noGVCF = null // g.vcf are produced by HaplotypeCaller
  noStrelkaBP = null // Strelka will use Manta candidateSmallIndels if available
  no_intervals = null // Intervals will be built from the fasta file
  skipQC = null // All QC tools are used
  skipFilterSV = null // All FilterSV tools are used
  skipFilterSVN = null // All FilterSVN tools are used
  step = 'mapping' // Starts with mapping
  tools = null // No default Variant Calling or Annotation tools

  maxMultiqcEmailFileSize = 25.MB
  multiqcConfig = "$baseDir/assets/multiqcConfig.yaml"
  metadata = "$baseDir/assets/metadata.tsv"
  
  // genome annotations
  genomeAnnotationPath = "${baseDir}/../annotations"

  // Defaults only, expecting to be overwritten
  cpus = 1
  singleCPUMem = 7.GB
  maxMemory = 128.GB
  maxCpus = 16
  maxTime = 240.h

  // TODO: why is it deprecated ?
  // Deprecated params
  publishDirMode = 'copy'

  // Optional files/directory
  cadd_InDels = false // No CADD InDels file
  cadd_InDels_tbi = false // No CADD InDels index
  cadd_WG_SNVs = false // No CADD SNVs file
  cadd_WG_SNVs_tbi = false // No CADD SNVs index
  pon = false // No default PON (Panel of Normals) file for GATK Mutect2 / Sentieon TNscope
  pon_index = false // No default PON index for GATK Mutect2 / Sentieon TNscope
  snpEff_cache = "${baseDir}/../annotations/databases/snpEff_v4_3" // No directory for snpEff cache
  targetBED = false // No default TargetBED file for targeted sequencing
  vep_cache = null // No directory for VEP cache

  multiqc_config = "${baseDir}/assets/multiqcConfig.yaml" // Default multiqc config
  
  config_profile_contact = false
  config_profile_description = false
  config_profile_url = false
  custom_config_version = 'devel'
  custom_config_base = "https://gitlab.curie.fr/plarosa/data-analysis_demo"
  monochrome_logs = false // Monochrome logs disabled

  // notifications
  email = false
  plaintext_email = false

  // cluster
  queue = null

  // output directories
  outputDir = './results'
  summaryDir = "${params.outputDir}/summary"

  // conda
  condaCacheDir = "$HOME/conda-cache-nextflow"
  
  geniac {

    tools {
      ascat = "bioconda::ascat=2.5.2=r36_1"
      bcftools = "bioconda::htslib=1.9=h244ad75_9 bioconda::bcftools=1.9=h68d8f2e_9"
      bwa = "bioconda::bwa=0.7.17=hed695b0_7"
      canceritAllelecount = "bioconda::cancerit-allelecount=4.0.2=ha228f0b_1"
      ensemblVep = "bioconda::ensembl-vep=95.2=pl526ha4d7672_0"
      fastqc = "bioconda::fastqc=0.11.8=2"
      freebayes = "bioconda::freebayes=1.2.0=py27h56106d0_4"
      gatk = "bioconda::gatk4=4.1.2.0=1"
      gatk_bwa_samtools = "bioconda::gatk4=4.1.2.0=1 bioconda::bwa=0.7.17=hed695b0_7 bioconda::samtools=1.9=h10a08f8_12"
      genesplicer = "bioconda::genesplicer=1.0=1"
      htslib = "bioconda::htslib=1.9=h244ad75_9"
      manta = "bioconda::htslib=1.9=h244ad75_9 bioconda::manta=1.5.0=py27_0"
      multiqc = "defaults::conda=4.6.14 conda-forge::lzstring=1.0.4=py_1001 conda-forge::matplotlib-base=3.1.1=py37h250f245_2 conda-forge::spectra=0.0.11=py_1 bioconda::multiqc=1.8=py_2"
      qualimap = "bioconda::qualimap=2.2.2b=1"
      sambamba = "bioconda::sambamba=0.7.1=h148d290_2"
      samtools = "bioconda::samtools=1.9=h10a08f8_12"
      snpeff = "bioconda::snpeff=4.3.1t=3"
      strelka = "bioconda::strelka=2.9.10=0"
      tabix = "bioconda::tabix=0.2.6=ha92aebf_0"
      tiddit = "bioconda::tiddit=2.7.1=py27hb3f55d8_1"
      vcfanno = "bioconda::vcfanno=0.3.1=0"
      vcftools = "bioconda::vcftools=0.1.16=he860b03_3"
    }

    // options for singularity and docker containers
    containers {
      singularityImagePath = "${baseDir}/../containers/singularity"
      singularityRunOptions = ""
      dockerRunOptions = ""
      root = "${baseDir}"

      // containers are based on CentOS linux
      // some tools require dependcies to be installed with 'yum install'
      // specific dependencies are listed below
      yum {
        fastqc = 'fontconfig dejavu*'
      }

      git {
        // keep this as syntax example
        some_tools = 'https://github.com/some_user/some_tools::commit_hash'
      }
    }
  }


}


/*
 * Environmment variables 
 */

env {
	NXF_OPTS="-Xms1g"
}


