/*
 * -------------------------------------------------
 *  Nextflow base config file
 * -------------------------------------------------
 * A 'blank slate' config file, appropriate for general
 * use on most high performace compute environments.
 * Assumes that all software is installed and available
 * on the PATH. Runs in `local` mode - all jobs will be
 * run on the logged in environment.
 */


/*
 * Global default params, used in configs
 */

params {

  maxMultiqcEmailFileSize = 25.MB
  multiqcConfig = "${projectDir}/assets/multiqcConfig.yaml"
  metadata = "${projectDir}/assets/metadata.tsv"

  // Defaults only, expecting to be overwritten
  cpus = 1
  singleCPUMem = 16.GB

  publishDirMode = 'copy'

  // notifications
  email = false
  plaintextEmail = false

  // cluster
  queue = null

  // genome annotations
  genomeAnnotationPath = "${projectDir}/../annotations"
  //snpEffCache = "${params.genomeAnnotationPath}/tmp/nf-vegan/databases/snpEff_v4_3"

  // conda
  condaCacheDir = "$HOME/conda-cache-nextflow"

  // Singularity image path
  singularityImagePath = ""
  singularityRunOptions = ""

  // Docker
  dockerRunOptions = ""

  // Global path used for path or multipath profiles
  globalPath = ""
}


/*
 * Environmment variables 
 */

env {
  NXF_OPTS="-Xms1g"
}


