/*
 * -------------------------------------------------
 *  Nextflow base config file
 * -------------------------------------------------
 * A 'blank slate' config file, appropriate for general
 * use on most high performace compute environments.
 * Assumes that all software is installed and available
 * on the PATH. Runs in `local` mode - all jobs will be
 * run on the logged in environment.
 */


/*
 * Global default params, used in configs
 */

params {

  help = false
  // No default run Name
  runName = false
  url = 'https://gitlab.curie.fr/data-analysis/vegan'
  hostnames = false

  // analysis parameters
  genome = false
  input = null // No default input
  noGVCF = null // g.vcf are produced by HaplotypeCaller
  noIntervals = null // Intervals will be built from the fasta file
  skipQC = [] // All QC tools are used
  skipFilterSV = [] // All FilterSV tools are used
  skipFilterSNV = [] // All FilterSVN tools are used
  annotateTools = [] // Only with --step annotate
  step = 'mapping' // Starts with mapping
  tools = [] // No default Variant Calling or Annotation tools

  maxMultiqcEmailFileSize = 25.MB
  multiqcConfig = "$baseDir/assets/multiqcConfig.yaml"
  metadata = "$baseDir/assets/metadata.tsv"


  // Defaults only, expecting to be overwritten
  cpus = 1
  singleCPUMem = 16.GB
  maxMemory = 128.GB
  maxCpus = 16
  maxTime = 240.h

  publishDirMode = 'copy'

  // Optional files/directory
  pon = false // No default PON (Panel of Normals) file for GATK Mutect2 / Sentieon TNscope
  ponIndex = false // No default PON index for GATK Mutect2 / Sentieon TNscope
  targetBED = false // No default TargetBED file for targeted sequencing

  multiqcConfig = "${baseDir}/assets/multiqcConfig.yaml" // Default multiqc config

  configProfileContact = false
  configProfileDescription = false
  configProfileUrl = false
  monochromeLogs = false // Monochrome logs disabled
  sequencingCenter = null // No sequencing center to be written in BAM header in MapReads process

  // notifications
  email = false
  plaintextEmail = false

  // cluster
  queue = null

  // output directories
  outputDir = './results'
  summaryDir = "${params.outputDir}/Summary"

  // genome annotations
  genomeAnnotationPath = "${baseDir}/../annotations"
  snpEffCache = "${params.genomeAnnotationPath}/pipelines/tmp/nf-vegan/databases/snpEff_v4_3"

  // conda
  condaCacheDir = "$HOME/conda-cache-nextflow"

  // Singularity image path
  singularityImagePath = ""
  singularityRunOptions = ""

  // Docker
  dockerRunOptions = ""

  geniac {

    tools {
      ascat = "conda-forge::r-optparse=1.6.6 bioconda::ascat=2.5.2"
      bcftools = "conda-forge::libdeflate=1.6 bioconda::htslib=1.11 bioconda::bcftools=1.11"
      bwa = "bioconda::bwa=0.7.17"
      canceritAllelecount = "bioconda::cancerit-allelecount=4.0.2"
      fastqc = "bioconda::fastqc=0.11.8"
      gatk = "bioconda::gatk4=4.1.6.0"
      gatkBwaSamtools = "bioconda::gatk4=4.1.6.0 bioconda::bwa=0.7.17 bioconda::samtools=1.9"
      manta = "bioconda::htslib=1.9 bioconda::manta=1.5.0"
      multiqc = "defaults::conda=4.6.14 conda-forge::lzstring=1.0.4 conda-forge::matplotlib-base=3.1.1 conda-forge::spectra=0.0.11 bioconda::multiqc=1.8"
      python = "conda-forge::python=3.8.5"
      qualimap = "bioconda::qualimap=2.2.2a"
      sambamba = "defaults::conda=4.8.2 conda-forge::libdeflate=1.6 conda-forge::ldc=1.20.0 bioconda::htslib=1.10.2 bioconda::sambamba=0.7.1"
      samtools = "bioconda::samtools=1.9"
      snpeff = "bioconda::snpeff=4.3.1t"
      tabix = "bioconda::tabix=0.2.6"
      vcftools = "bioconda::vcftools=0.1.16"
    }

    // options for singularity and docker containers
    containers {
      singularityImagePath = params.singularityImagePath ?: "${baseDir}/../containers/singularity"
      singularityRunOptions = params.singularityRunOptions ?: ""
      dockerRunOptions = params.dockerRunOptions ?: ""
      root = "${baseDir}"

      // containers are based on CentOS linux
      // some tools require dependcies to be installed with 'yum install'
      // specific dependencies are listed below
      yum {
        fastqc = 'fontconfig dejavu*'
      }

      git {
        // keep this as syntax example
        some_tools = 'https://github.com/some_user/some_tools::commit_hash'
      }
    }
  }


}


/*
 * Environmment variables 
 */

env {
  NXF_OPTS="-Xms1g"
}


