includeConfig 'process.config'

conda { cacheDir = "${params.condaCacheDir}" }

process {
    withLabel:qualimap { conda = "${projectDir}/environment.yml" }
    withLabel:bcftools { conda = "${projectDir}/environment.yml" }
    withLabel:gatk { conda = "${projectDir}/environment.yml" }
    withLabel:manta { conda = "${projectDir}/environment.yml" }
    withLabel:tabix { conda = "${projectDir}/environment.yml" }
    withLabel:sambamba { conda = "${projectDir}/environment.yml" }
    withLabel:gatkBwaSamtools { conda = "${projectDir}/environment.yml" }
    withLabel:fastqc { conda = "${projectDir}/environment.yml" }
    withLabel:samtools { conda = "${projectDir}/environment.yml" }
    withLabel:snpeff { conda = "${projectDir}/environment.yml" }
    withLabel:vcftools { conda = "${projectDir}/environment.yml" }
    withLabel:ascat { conda = "${projectDir}/environment.yml" }
    withLabel:multiqc { conda = "${projectDir}/environment.yml" }
    withLabel:bwa { conda = "${projectDir}/environment.yml" }
    withLabel:canceritAllelecount { conda = "${projectDir}/environment.yml" }
}