includeConfig 'process.config'

conda { cacheDir = "${params.condaCacheDir}" }

process {
    withLabel:gatk { conda = "${baseDir}/environment.yml" }
    withLabel:bwa { conda = "${baseDir}/environment.yml" }
    withLabel:fastqc { conda = "${baseDir}/environment.yml" }
    withLabel:samtools { conda = "${baseDir}/environment.yml" }
    withLabel:tabix { conda = "${baseDir}/environment.yml" }
    withLabel:sentieon { conda = "${baseDir}/environment.yml" }
    withLabel:gatk_bwa_samtools { conda = "${baseDir}/environment.yml" }
    withLabel:multiqc { conda = "${baseDir}/environment.yml" }
}
