includeConfig 'process.config'

conda { cacheDir = "${params.condaCacheDir}" }

process {
    withLabel:controlFreec { conda = "${baseDir}/environment.yml" }
    withLabel:ascat { conda = "${baseDir}/environment.yml" }
    withLabel:bcftools { conda = "${baseDir}/environment.yml" }
    withLabel:canceritAllelecount { conda = "${baseDir}/environment.yml" }
    withLabel:ensemblVep { conda = "${baseDir}/environment.yml" }
    withLabel:freebayes { conda = "${baseDir}/environment.yml" }
    withLabel:bwa { conda = "${baseDir}/environment.yml" }
    withLabel:fastqc { conda = "${baseDir}/environment.yml" }
    withLabel:genesplicer { conda = "${baseDir}/environment.yml" }
    withLabel:manta { conda = "${baseDir}/environment.yml" }
    withLabel:htslib { conda = "${baseDir}/environment.yml" }
    withLabel:qualimap { conda = "${baseDir}/environment.yml" }
    withLabel:snpeff { conda = "${baseDir}/environment.yml" }
    withLabel:samtools { conda = "${baseDir}/environment.yml" }
    withLabel:strelka { conda = "${baseDir}/environment.yml" }
    withLabel:vcfanno { conda = "${baseDir}/environment.yml" }
    withLabel:vcftools { conda = "${baseDir}/environment.yml" }
    withLabel:gatk { conda = "${baseDir}/environment.yml" }
    withLabel:tiddit { conda = "${baseDir}/environment.yml" }
    withLabel:gatk_bwa_samtools { conda = "${baseDir}/environment.yml" }
    withLabel:sentieon { conda = "${baseDir}/environment.yml" }
    withLabel:tabix { conda = "${baseDir}/environment.yml" }
    withLabel:multiqc { conda = "${baseDir}/environment.yml" }
}
