includeConfig 'process.config'

docker {
    enabled = true
    runOptions = "${params.geniac.containers.dockerRunOptions}"
}

process {
    withLabel:onlyLinux { container = "onlylinux" }
    withLabel:fastqc { container = "fastqc" }
    withLabel:bcftools { container = "bcftools" }
    withLabel:bwa { container = "bwa" }
    withLabel:ensemblVep { container = "ensemblvep" }
    withLabel:ascat { container = "ascat" }
    withLabel:canceritAllelecount { container = "canceritallelecount" }
    withLabel:manta { container = "manta" }
    withLabel:genesplicer { container = "genesplicer" }
    withLabel:freebayes { container = "freebayes" }
    withLabel:htslib { container = "htslib" }
    withLabel:snpeff { container = "snpeff" }
    withLabel:qualimap { container = "qualimap" }
    withLabel:gatk { container = "gatk" }
    withLabel:vcftools { container = "vcftools" }
    withLabel:vcfanno { container = "vcfanno" }
    withLabel:samtools { container = "samtools" }
    withLabel:multiqc { container = "multiqc" }
    withLabel:strelka { container = "strelka" }
    withLabel:sambamba { container = "sambamba" }
    withLabel:gatk_bwa_samtools { container = "gatk_bwa_samtools" }
    withLabel:tiddit { container = "tiddit" }
    withLabel:sentieon { container = "sentieon" }
    withLabel:tabix { container = "tabix" }
}
