docker {
    enabled = true
    runOptions = "${params.geniac.containers.dockerRunOptions}"
}

process {
    withLabel:vcftools { container = "vcftools" }
    withLabel:tabix { container = "tabix" }
    withLabel:polym { container = "polym" }
    withLabel:samtools { container = "samtools" }
    withLabel:bedtools { container = "bedtools" }
    withLabel:sambamba { container = "sambamba" }
    withLabel:onlyLinux { container = "onlylinux" }
    withLabel:manta { container = "manta" }
    withLabel:picard { container = "picard" }
    withLabel:preseq { container = "preseq" }
    withLabel:gatk { container = "gatk" }
    withLabel:ascat { container = "ascat" }
    withLabel:bcftools { container = "bcftools" }
    withLabel:python { container = "python" }
    withLabel:snpeff { container = "snpeff" }
    withLabel:multiqc { container = "multiqc" }
    withLabel:fastqc { container = "fastqc" }
    withLabel:mosdepth { container = "mosdepth" }
    withLabel:bwa { container = "bwa" }
}