includeConfig 'process.config'

docker {
    enabled = true
    runOptions = "${params.geniac.containers.dockerRunOptions}"
}

process {
    withLabel:snpeffGrCh37GrCh38 { container = "snpeffgrch37grch38" }
    withLabel:onlyLinux { container = "onlylinux" }
    withLabel:qualimap { container = "qualimap" }
    withLabel:bcftools { container = "bcftools" }
    withLabel:tabix { container = "tabix" }
    withLabel:manta { container = "manta" }
    withLabel:gatk { container = "gatk" }
    withLabel:sambamba { container = "sambamba" }
    withLabel:gatk_bwa_samtools { container = "gatk_bwa_samtools" }
    withLabel:fastqc { container = "fastqc" }
    withLabel:samtools { container = "samtools" }
    withLabel:vcftools { container = "vcftools" }
    withLabel:snpeff { container = "snpeff" }
    withLabel:ascat { container = "ascat" }
    withLabel:multiqc { container = "multiqc" }
    withLabel:bwa { container = "bwa" }
    withLabel:canceritAllelecount { container = "canceritallelecount" }
}