params {
  genomeAnnotationPath = params.genomeAnnotationPath ?: "${projectDir}/../annotations"

  geniac {
  
    //paths to the tools
    path = params.globalPath ?: "${baseDir}/../path/bin"
    multiPath = params.globalPath ?: "${baseDir}/../multipath"
    singularityImagePath = params.singularityImagePath ?: "${baseDir}/../containers/singularity"

    tools {
      facets = "${baseDir}/recipes/conda/facets.yml"
      ascat = "${baseDir}/recipes/conda/ascat.yml"
      bcftools = "${baseDir}/recipes/conda/bcftools.yml"
      bwa = "${baseDir}/recipes/conda/bwa.yml"
      fastqc = "${baseDir}/recipes/conda/fastqc.yml"
      preseq = "${baseDir}/recipes/conda/preseq.yml"
      gatk = "${baseDir}/recipes/conda/gatk.yml"
      manta = "${baseDir}/recipes/conda/manta.yml"
      multiqc = "${baseDir}/recipes/conda/multiqc.yml"
      python = "${baseDir}/recipes/conda/python.yml"
      bedtools = "${baseDir}/recipes/conda/bedtools.yml"
      sambamba = "${baseDir}/recipes/conda/sambamba.yml"
      samtools = "${baseDir}/recipes/conda/samtools.yml"
      snpeff = "${baseDir}/recipes/conda/snpeff.yml"
      tabix = "${baseDir}/recipes/conda/tabix.yml"
      mosdepth = "${baseDir}/recipes/conda/mosdepth.yml"
      picard = "${baseDir}/recipes/conda/picard.yml"
      polym = "${baseDir}/recipes/conda/polym.yml"
      transition = "${baseDir}/recipes/conda/transition.yml"
    }

    // options for singularity and docker containers
    containers {
      singularityRunOptions = ""
      dockerRunOptions = ""

      // containers are based on CentOS linux
      // some tools require dependcies to be installed with 'yum install'
      // specific dependencies are listed below
     //  yum {

     //  }
     //  git {

    //  }
    }
  }
}
