params {
  genomeAnnotationPath = params.genomeAnnotationPath ?: "${projectDir}/../annotations"

  geniac {

    // Installation paths
    multiPath = params.globalPath ?: "${projectDir}/../multipath"
    path = params.globalPath ?: "${projectDir}/../path/bin"
    singularityImagePath = params.singularityImagePath ?: "${projectDir}/../containers/singularity"

    tools {
      ascat = "conda-forge::r-optparse=1.6.6 bioconda::ascat=2.5.2"
      bcftools = "conda-forge::libdeflate=1.6 conda-forge::gsl=2.6 bioconda::htslib=1.11 bioconda::bcftools=1.11"
      bwa = "bioconda::bwa=0.7.17"
      canceritAllelecount = "bioconda::cancerit-allelecount=4.0.2"
      fastqc = "bioconda::fastqc=0.11.8"
      preseq = "bioconda::preseq=2.0.3"
      gatk = "bioconda::gatk4=4.1.6.0"
      gatkBwaSamtools = "bioconda::gatk4=4.1.6.0 bioconda::bwa=0.7.17 bioconda::samtools=1.9"
      manta = "bioconda::htslib=1.9 bioconda::manta=1.5.0"
      multiqc = "defaults::conda=4.6.14 conda-forge::lzstring=1.0.4 conda-forge::matplotlib-base=3.1.1 conda-forge::spectra=0.0.11 bioconda::multiqc=1.8"
      python = "conda-forge::python=3.8.5"
      bedtools = "bioconda::samtools=1.9 bioconda::bedtools=2.29.2"
      qualimap = "bioconda::qualimap=2.2.2a"
      sambamba = "defaults::conda=4.8.2 conda-forge::libdeflate=1.6 conda-forge::ldc=1.20.0 bioconda::htslib=1.10.2 bioconda::sambamba=0.7.1"
      samtools = "bioconda::samtools=1.10"
      snpeff = "bioconda::snpeff=4.3.1t"
      tabix = "bioconda::tabix=0.2.6"
      mosdepth = "bioconda::mosdepth=0.3.1 conda-forge::r-base=3.6.3 conda-forge::r-data.table=1.13.6 conda-forge::r-optparse=1.6.6 conda-forge::r-ggplot2=3.3.2"
      picard = "bioconda::picard=2.19.0=0 bioconda::samtools=1.10 conda-forge::r-base=3.6.3"
      vcftools = "bioconda::vcftools=0.1.16"
    }

    // options for singularity and docker containers
    containers {
      singularityRunOptions = ""
      dockerRunOptions = ""

      // containers are based on CentOS linux
      // some tools require dependcies to be installed with 'yum install'
      // specific dependencies are listed below
      yum {
        // example of dependency:
        fastqc = 'fontconfig dejavu*'
      }

      //git {
      // keep this as syntax example
      //some_tools = 'https://github.com/some_user/some_tools::commit_hash'
      //}
    }
  }
}
