params {
  genomeAnnotationPath = params.genomeAnnotationPath ?: "${projectDir}/../annotations"
  tmpDir = params.tmpDir ?: '/local/scratch/'
  outDir = params.outDir ?: './'
  //readsDir = params.reads ? params.reads.toString().substring(0, params.reads.lastIndexOf("/")) : ''

  geniac {
  
    //paths to the tools
    path = params.globalPath ?: "${projectDir}/../path/bin"
    multiPath = params.globalPath ?: "${projectDir}/../multipath"
    singularityImagePath = params.singularityImagePath ?: "${projectDir}/../containers/singularity"

    tools {
      unix = "${projectDir}/recipes/conda/unix.yml"
      facets = "${projectDir}/recipes/conda/facets.yml"
      ascat = "${projectDir}/recipes/conda/ascat.yml"
      bcftools = "${projectDir}/recipes/conda/bcftools.yml"
      bwa = "${projectDir}/recipes/conda/bwa.yml"
      bwamem2 = "${projectDir}/recipes/conda/bwamem2.yml"
      dragmap = "${projectDir}/recipes/conda/dragmap.yml"
      fastqc = "${projectDir}/recipes/conda/fastqc.yml"
      preseq = "${projectDir}/recipes/conda/preseq.yml"
      gatk = "${projectDir}/recipes/conda/gatk.yml"
      manta = "${projectDir}/recipes/conda/manta.yml"
      multiqc = "${projectDir}/recipes/conda/multiqc.yml"
      python = "${projectDir}/recipes/conda/python.yml"
      bedtools = "${projectDir}/recipes/conda/bedtools.yml"
      sambamba = "${projectDir}/recipes/conda/sambamba.yml"
      samtools = "${projectDir}/recipes/conda/samtools.yml"
      snpeff = "${projectDir}/recipes/conda/snpeff.yml"
      snpsift = "${projectDir}/recipes/conda/snpsift.yml"
      tabix = "${projectDir}/recipes/conda/tabix.yml"
      mosdepth = "${projectDir}/recipes/conda/mosdepth.yml"
      picard = "${projectDir}/recipes/conda/picard.yml"
      identito = "${projectDir}/recipes/conda/identito.yml"
      transition = "${projectDir}/recipes/conda/transition.yml"
      tmb = "${projectDir}/recipes/conda/tmb.yml"
      msisensorpro = "${projectDir}/recipes/conda/msisensorpro.yml"
    }

    // options for singularity and docker containers
    containers {
      //singularityRunOptions = "--bind ${params.readsDir},${params.containers.specificBinds}"
      singularityRunOptions = "--bind ${params.containers.specificBinds}"
      dockerRunOptions = "-v \"\$PWD\":/tmp"

      // containers are based on CentOS linux
      // some tools require dependcies to be installed with 'yum install'
      // specific dependencies are listed below
      //yum { }
      //git { }
    }
  }
}
