/*
 * -------------------------------------------------
 *  Nextflow config file for Genomes paths
 * -------------------------------------------------
 * Defines reference genomes
 * Can be used by any config that customises the base
 * path using $params.genomeAnnotationPath / --genomeAnnotationPath
 */

params {
  genomes {
    'hg19' {
      bwaIndex              = "${params.genomeAnnotationPath}/Human/hg19/indexes/bwa/hg19"
      chrLength             = "${params.genomeAnnotationPath}/Human/hg19/genome/chrom_hg19.sizes"
      dict                  = "${params.genomeAnnotationPath}/Human/hg19/genome/hg19.dict"
      fasta                 = "${params.genomeAnnotationPath}/Human/hg19/genome/hg19.fa"
      fastaFai              = "${params.genomeAnnotationPath}/Human/hg19/genome/hg19.fa.fai"
      gtf                   = "${params.genomeAnnotationPath}/Human/hg19/gtf/gencode.v19.annotation_proteinCoding.gtf"
      dbsnp                 = "${params.genomeAnnotationPath}/Human/hg19/tool_databases/nf-vegan/dbsnp_149.hg19.vcf.gz"
      dbsnpIndex            = "${params.genomeAnnotationPath}/Human/hg19/tool_databases/nf-vegan/dbsnp_149.hg19.vcf.gz.tbi"
      acLoci                = "${params.genomeAnnotationPath}/Human/hg19/tool_databases/nf-vegan/1000G_phase3_20130502_SNP_maf0.3.loci"
      acLociGC              = "${params.genomeAnnotationPath}/Human/hg19/tool_databases/nf-vegan/1000G_phase3_20130502_SNP_maf0.3.loci.gc"
      polyms                = "${params.genomeAnnotationPath}/Human/hg19/tool_databases/nf-vegan/44polyms.bed"
      germlineResource      = "${params.genomeAnnotationPath}/Human/hg19/tool_databases/nf-vegan/af-only-gnomad_modified.raw.sites.vcf.gz"
      germlineResourceIndex = "${params.genomeAnnotationPath}/Human/hg19/tool_databases/nf-vegan/af-only-gnomad_modified.raw.sites.vcf.gz.tbi"
      intervals             = "${params.genomeAnnotationPath}/Human/hg19/tool_databases/nf-vegan/wgs_calling_regions.grch37.list.txt"
      knownIndels           = "${params.genomeAnnotationPath}/Human/hg19/tool_databases/nf-vegan/{1000G_phase1,Mills_and_1000G_gold_standard}.indels.hg19.sites.vcf.gz"
      knownIndelsIndex      = "${params.genomeAnnotationPath}/Human/hg19/tool_databases/nf-vegan/{1000G_phase1,Mills_and_1000G_gold_standard}.indels.hg19.sites.vcf.gz.tbi"
      snpeffDb              = "hg19"
      snpeffCache           = "${params.genomeAnnotationPath}/Human/hg19/tool_databases/snpEff_v4_3"
    }

    'hg38' { 
      bwaIndex              = "${params.genomeAnnotationPath}/Human/hg38/indexes/bwa/hg38"
      chrLength             = "${params.genomeAnnotationPath}/Human/hg38/genome/chrom_hg38.sizes"
      dict                  = "${params.genomeAnnotationPath}/Human/hg38/genome/hg38.dict"
      fasta                 = "${params.genomeAnnotationPath}/Human/hg38/genome/hg38.fa"
      fastaFai              = "${params.genomeAnnotationPath}/Human/hg38/genome/hg38.fa.fai"
      gtf                   = "${params.genomeAnnotationPath}/Human/hg38/gtf/gencode.v34.annotation_proteinCoding.gtf"
      dbsnp                 = "${params.genomeAnnotationPath}/Human/hg38/tool_databases/nf-vegan/dbsnp_146.hg38.vcf.gz"
      dbsnpIndex            = "${params.genomeAnnotationPath}/Human/hg38/tool_databases/nf-vegan/dbsnp_146.hg38.vcf.gz.tbi"
      acLoci                = "${params.genomeAnnotationPath}/Human/hg38/tool_databases/nf-vegan/1000G_phase3_20130502_SNP_maf0.3.loci"
      acLociGC              = "${params.genomeAnnotationPath}/Human/hg38/tool_databases/nf-vegan/1000G_phase3_20130502_SNP_maf0.3.loci.gc"
      polyms                = "${params.genomeAnnotationPath}/Human/hg38/tool_databases/nf-vegan/44polyms_hg38_lifted.bed"
      germlineResource      = "${params.genomeAnnotationPath}/Human/hg38/tool_databases/nf-vegan/af-only-gnomad.hg38.vcf.gz"
      germlineResourceIndex = "${params.genomeAnnotationPath}/Human/hg38/tool_databases/nf-vegan/af-only-gnomad.hg38.vcf.gz.tbi"
      intervals             = "${params.genomeAnnotationPath}/Human/hg38/tool_databases/nf-vegan/wgs_calling_regions.hg38.bed"
      knownIndels           = "${params.genomeAnnotationPath}/Human/hg38/tool_databases/nf-vegan/{Mills_and_1000G_gold_standard.indels.hg38,beta/Homo_sapiens_assembly38.known_indels}.vcf.gz"
      knownIndelsIndex      = "${params.genomeAnnotationPath}/Human/hg38/tool_databases/nf-vegan/{Mills_and_1000G_gold_standard.indels.hg38,beta/Homo_sapiens_assembly38.known_indels}.vcf.gz.tbi"
      snpeffDb              = "hg38"
      snpeffCache           = "${params.genomeAnnotationPath}/Human/hg38/tool_databases/snpEff_v4_3/"
    }

    'mm10' {
      bwaIndex              = "${params.genomeAnnotationPath}/Mouse/mm10/indexes/bwa/mm10.{amb,ann,bwt,pac,sa}"
      chrLength             = "${params.genomeAnnotationPath}/Mouse/mm10/genome/chrom_mm10.sizes"
      dict                  = "${params.genomeAnnotationPath}/Mouse/mm10/genome/mm10.dict"
      fasta                 = "${params.genomeAnnotationPath}/Mouse/mm10/genome/mm10.fa"
      fastaFai              = "${params.genomeAnnotationPath}/Mouse/mm10/genome/mm10.fa.fai"
      gtf                   = "${params.genomeAnnotationPath}/Mouse/mm10/gtf/gencode.vM22.annotation_proteinCoding.gtf"
      dbsnp                 = ""
      dbsnpIndex            = ""
      acLoci                = ""
      acLociGC              = ""
      polyms                = ""
      germlineResource      = ""
      germlineResourceIndex = ""
      intervals             = ""
      knownIndels           = ""
      knownIndelsIndex      = ""
      snpeffDb              = "mm10"
      snpeffCache           = "${params.genomeAnnotationPath}/Mouse/mm10/tool_databases/snpEff_v4_3/"
    }
  }
}
