/*
 * -------------------------------------------------
 *  Nextflow config file for Genomes paths
 * -------------------------------------------------
 * Defines reference genomes
 * Can be used by any config that customises the base
 * path using $params.genomeAnnotationPath / --genomeAnnotationPath
 */

params {
  genomes {
    'GRCh37' {
      acLoci                = "${params.genomeAnnotationPath}/1000G_phase3_20130502_SNP_maf0.3.loci"
      acLociGC              = "${params.genomeAnnotationPath}/1000G_phase3_20130502_SNP_maf0.3.loci.gc"
      bwaIndex              = "${params.genomeAnnotationPath}/human_g1k_v37_decoy.fasta.{amb,ann,bwt,pac,sa}"
      chrDir                = "${params.genomeAnnotationPath}/chromosomes"
      chrLength             = "${params.genomeAnnotationPath}/human_g1k_v37_decoy.len"
      dbsnp                 = "${params.genomeAnnotationPath}/dbsnp_138.b37.vcf"
      dbsnpIndex            = "${params.genomeAnnotationPath}/dbsnp_138.b37.vcf.idx"
      dict                  = "${params.genomeAnnotationPath}/human_g1k_v37_decoy.dict"
      fasta                 = "${params.genomeAnnotationPath}/human_g1k_v37_decoy.fasta"
      fastaFai              = "${params.genomeAnnotationPath}/human_g1k_v37_decoy.fasta.fai"
      germlineResource      = "${params.genomeAnnotationPath}/gnomAD.r2.1.1.GRCh37.PASS.AC.AF.only.vcf.gz"
      germlineResourceIndex = "${params.genomeAnnotationPath}/gnomAD.r2.1.1.GRCh37.PASS.AC.AF.only.vcf.gz.tbi"
      intervals             = "${params.genomeAnnotationPath}/wgs_calling_regions_Sarek.list"
      knownIndels           = "${params.genomeAnnotationPath}/{1000G_phase1,Mills_and_1000G_gold_standard}.indels.b37.vcf"
      knownIndelsIndex      = "${params.genomeAnnotationPath}/{1000G_phase1,Mills_and_1000G_gold_standard}.indels.b37.vcf.idx"
      snpeffDb              = "GRCh37.75"
      vepCacheVersion       = "95"
    }
    'GRCh38' {
      acLoci                = "${params.genomeAnnotationPath}/1000G_phase3_GRCh38_maf0.3.loci"
      acLociGC              = "${params.genomeAnnotationPath}/1000G_phase3_GRCh38_maf0.3.loci.gc"
      bwaIndex              = "${params.genomeAnnotationPath}/hg38_base.fa.{amb,ann,bwt,pac,sa}"
      chrDir                = "${params.genomeAnnotationPath}/Chromosomes"
      chrLength             = "${params.genomeAnnotationPath}/resources_broad_hg38_v0_Homo_sapiens_assembly38.len"
      dbsnp                 = "${params.genomeAnnotationPath}/dbsnp_146.hg38.vcf.gz"
      dbsnpIndex            = "${params.genomeAnnotationPath}/dbsnp_146.hg38.vcf.gz.tbi"
      dict                  = "${params.genomeAnnotationPath}/hg38_base.dict"
      fasta                 = "${params.genomeAnnotationPath}/hg38_base.fa"
      fastaFai              = "${params.genomeAnnotationPath}/hg38_base.fa.fai"
      germlineResource      = "${params.genomeAnnotationPath}/af-only-gnomad.hg38.vcf.gz"
      germlineResourceIndex = "${params.genomeAnnotationPath}/af-only-gnomad.hg38.vcf.gz.tbi"
      intervals             = "${params.genomeAnnotationPath}/wgs_calling_regions.hg38.bed"
      knownIndels           = "${params.genomeAnnotationPath}/{Mills_and_1000G_gold_standard.indels.hg38,beta/Homo_sapiens_assembly38.known_indels}.vcf.gz"
      knownIndelsIndex      = "${params.genomeAnnotationPath}/{Mills_and_1000G_gold_standard.indels.hg38,beta/Homo_sapiens_assembly38.known_indels}.vcf.gz.tbi"
      snpeffDb              = "GRCh38.86"
      vepCacheVersion       = "95"
    }
    'smallGRCh37' {
      acLoci                = "${params.genomeAnnotationPath}/1000G_phase3_20130502_SNP_maf0.3.small.loci"
      acLociGC              = "${params.genomeAnnotationPath}/1000G_phase3_20130502_SNP_maf0.3.small.loci.gc"
      dbsnp                 = "${params.genomeAnnotationPath}/dbsnp_138.b37.small.vcf.gz"
      fasta                 = "${params.genomeAnnotationPath}/human_g1k_v37_decoy.small.fasta"
      germlineResource      = "${params.genomeAnnotationPath}/dbsnp_138.b37.small.vcf.gz"
      intervals             = "${params.genomeAnnotationPath}/small.intervals"
      knownIndels           = "${params.genomeAnnotationPath}/{1000G_phase1.indels.b37.small,Mills_and_1000G_gold_standard.indels.b37.small}.vcf.gz"
      snpeffDb              = "GRCh37.75"
      vepCacheVersion       = "95"
    }
  }
}
