/*
 * -------------------------------------------------
 *  Nextflow config file for Genomes paths
 * -------------------------------------------------
 * Defines reference genomes
 * Can be used by any config that customises the base
 * path using $params.genomeAnnotationPath / --genomeAnnotationPath
 */

params {
  genomes {
    /*************
     Human
    **************/

    'hg19' {
      bwaIndex              = "${params.genomeAnnotationPath}/Human/hg19/indexes/bwa/"
      bwamem2Index          = "${params.genomeAnnotationPath}/Human/hg19/indexes/bwamem2"
      dragmapIndex          = "${params.genomeAnnotationPath}/Human/hg19/indexes/dragmap/"
      chrLength             = "${params.genomeAnnotationPath}/Human/hg19/genome/chrom_hg19.sizes"
      dict                  = "${params.genomeAnnotationPath}/Human/hg19/genome/hg19.dict"
      fasta                 = "${params.genomeAnnotationPath}/Human/hg19/genome/hg19.fa"
      fastaFai              = "${params.genomeAnnotationPath}/Human/hg19/genome/hg19.fa.fai"
      gtf                   = "${params.genomeAnnotationPath}/Human/hg19/gtf/gencode.v19.annotation_proteinCoding.gtf"
      dbsnp                 = "${params.genomeAnnotationPath}/Human/hg19/tool_databases/nf-vegan/hg19_v0_dbsnp_138.b37_base.vcf.gz"
      dbsnpIndex            = "${params.genomeAnnotationPath}/Human/hg19/tool_databases/nf-vegan/hg19_v0_dbsnp_138.b37_base.vcf.gz.tbi"
      acLoci                = "${params.genomeAnnotationPath}/Human/hg19/tool_databases/ascat_hg19/loci/G1000_loci_hg19.txt"
      acLociGC              = "${params.genomeAnnotationPath}/Human/hg19/tool_databases/ascat_hg19/GC_G1000_hg19_snp.txt"
      polyms                = "${params.genomeAnnotationPath}/Human/hg19/tool_databases/nf-vegan/44polyms.bed"
      germlineResource      = "${params.genomeAnnotationPath}/Human/hg19/tool_databases/gnomad/af-only-gnomad.hg19.vcf.gz"
      germlineResourceIndex = "${params.genomeAnnotationPath}/Human/hg19/tool_databases/gnomad/af-only-gnomad.hg19.vcf.gz.tbi"
      pileupSum             = "${params.genomeAnnotationPath}/Human/hg19/tool_databases/nf-vegan/small_exac_common_3.hg19.vcf.gz"
      pileupSumIndex        = "${params.genomeAnnotationPath}/Human/hg19/tool_databases/nf-vegan/small_exac_common_3.hg19.vcf.gz.tbi"
      intervals             = "${params.genomeAnnotationPath}/Human/hg19/tool_databases/nf-vegan/wgs_calling_regions_perchr.bed"
      knownIndels           = "${params.genomeAnnotationPath}/Human/hg19/tool_databases/nf-vegan/{1000G_phase1,Mills_and_1000G_gold_standard}.indels.hg19.sites.vcf.gz"
      knownIndelsIndex      = "${params.genomeAnnotationPath}/Human/hg19/tool_databases/nf-vegan/{1000G_phase1,Mills_and_1000G_gold_standard}.indels.hg19.sites.vcf.gz.tbi"
      snpeffDb              = "hg19"
      snpeffCache           = "${params.genomeAnnotationPath}/Human/hg19/tool_databases/snpEff_v5_0"
      cosmicDb              = "${params.genomeAnnotationPath}/Human/hg19/tool_databases/cosmic_v96/CosmicCodingMuts_v96_hg19.vcf.gz"
      cosmicDbIndex         = "${params.genomeAnnotationPath}/Human/hg19/tool_databases/cosmic_v96/CosmicCodingMuts_v96_hg19.vcf.gz.tbi"
      icgcDb                = "${params.genomeAnnotationPath}/Human/hg19/tool_databases/icgc/icgc_release28_summary_simple_somatic_mutation.aggregated_hg19.vcf.gz"
      icgcDbIndex           = "${params.genomeAnnotationPath}/Human/hg19/tool_databases/icgc/icgc_release28_summary_simple_somatic_mutation.aggregated_hg19.vcf.gz.tbi"
      cancerhotspotsDb      = "${params.genomeAnnotationPath}/Human/hg19/tool_databases/cancer_hotspots/cancerhotspots.v2.hg19.sort.vcf.gz"
      cancerhotspotsDbIndex = "${params.genomeAnnotationPath}/Human/hg19/tool_databases/cancer_hotspots/cancerhotspots.v2.hg19.sort.vcf.gz.tbi"
      gnomadDb              = "${params.genomeAnnotationPath}/Human/hg19/tool_databases/gnomad/af-only-gnomad.hg19.vcf.gz"
      gnomadDbIndex         = "${params.genomeAnnotationPath}/Human/hg19/tool_databases/gnomad/af-only-gnomad.hg19.vcf.gz.tbi"
      dbnsfp                = "${params.genomeAnnotationPath}/Human/hg19/tool_databases/dbNSFP/dbNSFP4.1a_hg19.txt.gz"
      dbnsfpIndex           = "${params.genomeAnnotationPath}/Human/hg19/tool_databases/dbNSFP/dbNSFP4.1a_hg19.txt.gz.tbi"
      effGenomeSize         = "2864785220"
    }

    'hg19_base' {
      bwaIndex              = "${params.genomeAnnotationPath}/Human/hg19_base/indexes/bwa/"
      bwamem2Index          = "${params.genomeAnnotationPath}/Human/hg19_base/indexes/bwamem2"
      dragmapIndex          = "${params.genomeAnnotationPath}/Human/hg19_base/indexes/dragmap/"
      chrLength             = "${params.genomeAnnotationPath}/Human/hg19_base/genome/chrom_hg19_base.sizes"
      dict                  = "${params.genomeAnnotationPath}/Human/hg19_base/genome/hg19_base.dict"
      fasta                 = "${params.genomeAnnotationPath}/Human/hg19_base/genome/hg19_base.fa"
      fastaFai              = "${params.genomeAnnotationPath}/Human/hg19_base/genome/hg19_base.fa.fai"
      gtf                   = "${params.genomeAnnotationPath}/Human/hg19_base/gtf/gencode.v19.annotation_proteinCoding.gtf"
      dbsnp                 = "${params.genomeAnnotationPath}/Human/hg19_base/tool_databases/nf-vegan/hg19_v0_dbsnp_138.b37_base.vcf.gz"
      dbsnpIndex            = "${params.genomeAnnotationPath}/Human/hg19_base/tool_databases/nf-vegan/hg19_v0_dbsnp_138.b37_base.vcf.gz.tbi"
      acLoci                = "${params.genomeAnnotationPath}/Human/hg19/tool_databases/ascat_hg19/loci/G1000_loci_hg19.txt"
      acLociGC              = "${params.genomeAnnotationPath}/Human/hg19/tool_databases/ascat_hg19/GC_G1000_hg19_snp.txt"
      polyms                = "${params.genomeAnnotationPath}/Human/hg19_base/tool_databases/nf-vegan/44polyms.bed"
      germlineResource      = "${params.genomeAnnotationPath}/Human/hg19_base/tool_databases/gnomad/af-only-gnomad.hg19.vcf.gz"
      germlineResourceIndex = "${params.genomeAnnotationPath}/Human/hg19_base/tool_databases/gnomad/af-only-gnomad.hg19.vcf.gz.tbi"
      pileupSum             = "${params.genomeAnnotationPath}/Human/hg19/tool_databases/nf-vegan/small_exac_common_3.hg19.vcf.gz"
      pileupSumIndex        = "${params.genomeAnnotationPath}/Human/hg19/tool_databases/nf-vegan/small_exac_common_3.hg19.vcf.gz.tbi"
      intervals             = "${params.genomeAnnotationPath}/Human/hg19_base/tool_databases/nf-vegan/wgs_calling_regions_perchr.bed"
      knownIndels           = "${params.genomeAnnotationPath}/Human/hg19_base/tool_databases/nf-vegan/{1000G_phase1,Mills_and_1000G_gold_standard}.indels.hg19.sites.vcf.gz"
      knownIndelsIndex      = "${params.genomeAnnotationPath}/Human/hg19_base/tool_databases/nf-vegan/{1000G_phase1,Mills_and_1000G_gold_standard}.indels.hg19.sites.vcf.gz.tbi"
      snpeffDb              = "hg19"
      snpeffCache           = "${params.genomeAnnotationPath}/Human/hg19_base/tool_databases/snpEff_v5_0"
      cosmicDb              = "${params.genomeAnnotationPath}/Human/hg19_base/tool_databases/cosmic_v96/CosmicCodingMuts_v96_hg19.vcf.gz"
      cosmicDbIndex         = "${params.genomeAnnotationPath}/Human/hg19_base/tool_databases/cosmic_v96/CosmicCodingMuts_v96_hg19.vcf.gz.tbi"
      icgcDb                = "${params.genomeAnnotationPath}/Human/hg19_base/tool_databases/icgc/icgc_release28_summary_simple_somatic_mutation.aggregated_hg19.vcf.gz"
      icgcDbIndex           = "${params.genomeAnnotationPath}/Human/hg19_base/tool_databases/icgc/icgc_release28_summary_simple_somatic_mutation.aggregated_hg19.vcf.gz.tbi"
      cancerhotspotsDb      = "${params.genomeAnnotationPath}/Human/hg19_base/tool_databases/cancer_hotspots/cancerhotspots.v2.hg19.sort.vcf.gz"
      cancerhotspotsDbIndex = "${params.genomeAnnotationPath}/Human/hg19_base/tool_databases/cancer_hotspots/cancerhotspots.v2.hg19.sort.vcf.gz.tbi"
      gnomadDb              = "${params.genomeAnnotationPath}/Human/hg19_base/tool_databases/gnomad/af-only-gnomad.hg19.vcf.gz"
      gnomadDbIndex         = "${params.genomeAnnotationPath}/Human/hg19_base/tool_databases/gnomad/af-only-gnomad.hg19.vcf.gz.tbi"
      dbnsfp                = "${params.genomeAnnotationPath}/Human/hg19_base/tool_databases/dbNSFP/dbNSFP4.1a_hg19.txt.gz"
      dbnsfpIndex           = "${params.genomeAnnotationPath}/Human/hg19/tool_databases/dbNSFP/dbNSFP4.1a_hg19.txt.gz.tbi"
      effGenomeSize         = "2861343702"
    }

    'hg38' {
      bwaIndex              = "${params.genomeAnnotationPath}/Human/hg38/indexes/bwa/"
      bwamem2Index          = "${params.genomeAnnotationPath}/Human/hg38/indexes/bwamem2"
      dragmapIndex          = "${params.genomeAnnotationPath}/Human/hg38/indexes/dragmap/"
      chrLength             = "${params.genomeAnnotationPath}/Human/hg38/genome/chrom_hg38.sizes"
      dict                  = "${params.genomeAnnotationPath}/Human/hg38/genome/hg38.dict"
      fasta                 = "${params.genomeAnnotationPath}/Human/hg38/genome/hg38.fa"
      fastaFai              = "${params.genomeAnnotationPath}/Human/hg38/genome/hg38.fa.fai"
      gtf                   = "${params.genomeAnnotationPath}/Human/hg38/gtf/gencode.v34.annotation_proteinCoding.gtf"
      dbsnp                 = "${params.genomeAnnotationPath}/Human/hg38/tool_databases/nf-vegan/dbsnp_146.hg38.vcf.gz"
      dbsnpIndex            = "${params.genomeAnnotationPath}/Human/hg38/tool_databases/nf-vegan/dbsnp_146.hg38.vcf.gz.tbi"
      acLoci                = "${params.genomeAnnotationPath}/Human/hg38/tool_databases/ascat_hg38/loci/G1000_loci_hg38.txt"
      acLociGC              = "${params.genomeAnnotationPath}/Human/hg38/tool_databases/ascat_hg38/GC_G1000_hg38_snp.txt"
      polyms                = "${params.genomeAnnotationPath}/Human/hg38/tool_databases/nf-vegan/44polyms_hg38_lifted.bed"
      germlineResource      = "${params.genomeAnnotationPath}/Human/hg38/tool_databases/nf-vegan/af-only-gnomad.hg38.vcf.gz"
      germlineResourceIndex = "${params.genomeAnnotationPath}/Human/hg38/tool_databases/nf-vegan/af-only-gnomad.hg38.vcf.gz.tbi"
      pileupSum             = "${params.genomeAnnotationPath}/Human/hg38/tool_databases/nf-vegan/small_exac_common_3.hg38.vcf.gz"
      pileupSumIndex        = "${params.genomeAnnotationPath}/Human/hg38/tool_databases/nf-vegan/small_exac_common_3.hg38.vcf.gz.tbi"
      intervals             = "${params.genomeAnnotationPath}/Human/hg38/tool_databases/nf-vegan/wgs_calling_regions_perchr.bed"
      knownIndels           = "${params.genomeAnnotationPath}/Human/hg38/tool_databases/nf-vegan/{Mills_and_1000G_gold_standard.indels.hg38,beta/Homo_sapiens_assembly38.known_indels}.vcf.gz"
      knownIndelsIndex      = "${params.genomeAnnotationPath}/Human/hg38/tool_databases/nf-vegan/{Mills_and_1000G_gold_standard.indels.hg38,beta/Homo_sapiens_assembly38.known_indels}.vcf.gz.tbi"
      snpeffDb              = "hg38"
      snpeffCache           = "${params.genomeAnnotationPath}/Human/hg38/tool_databases/snpEff_v5_0/"
      cosmicDb              = "${params.genomeAnnotationPath}/Human/hg38/tool_databases/cosmic_v96/CosmicCodingMuts_v96_hg38.vcf.gz"
      cosmicDbIndex         = "${params.genomeAnnotationPath}/Human/hg38/tool_databases/cosmic_v96/CosmicCodingMuts_v96_hg38.vcf.gz.tbi"
      icgcDb                = "${params.genomeAnnotationPath}/Human/hg38/tool_databases/icgc/icgc_release28_summary_simple_somatic_mutation.aggregated_hg38.vcf.gz"
      icgcDbIndex           = "${params.genomeAnnotationPath}/Human/hg38/tool_databases/icgc/icgc_release28_summary_simple_somatic_mutation.aggregated_hg38.vcf.gz.tbi"
      cancerhotspotsDb      = "${params.genomeAnnotationPath}/Human/hg38/tool_databases/cancer_hotspots/cancerhotspots.v2.hg38.sort.vcf.gz"
      cancerhotspotsDbIndex = "${params.genomeAnnotationPath}/Human/hg38/tool_databases/cancer_hotspots/cancerhotspots.v2.hg38.sort.vcf.gz.tbi"
      gnomadDb              = "${params.genomeAnnotationPath}/Human/hg38/tool_databases/nf-vegan/af-only-gnomad.hg38.vcf.gz"
      gnomadDbIndex         = "${params.genomeAnnotationPath}/Human/hg38/tool_databases/nf-vegan/af-only-gnomad.hg38.vcf.gz.tbi"
      dbnsfp                = "${params.genomeAnnotationPath}/Human/hg38/tool_databases/dbNSFP/dbNSFP4.1a_hg38.txt.gz"
      dbnsfpIndex           = "${params.genomeAnnotationPath}/Human/hg38/tool_databases/dbNSFP/dbNSFP4.1a_hg38.txt.gz.tbi"
      effGenomeSize         = "2913022398"
    }

    'hg38_base' {
      bwaIndex              = "${params.genomeAnnotationPath}/Human/hg38_base/indexes/bwa/"
      bwamem2Index          = "${params.genomeAnnotationPath}/Human/hg38_base/indexes/bwamem2"
      dragmapIndex          = "${params.genomeAnnotationPath}/Human/hg38_base/indexes/dragmap/"
      chrLength             = "${params.genomeAnnotationPath}/Human/hg38_base/genome/chrom_hg38_base.sizes"
      dict                  = "${params.genomeAnnotationPath}/Human/hg38_base/genome/hg38_base.dict"
      fasta                 = "${params.genomeAnnotationPath}/Human/hg38_base/genome/hg38_base.fa"
      fastaFai              = "${params.genomeAnnotationPath}/Human/hg38_base/genome/hg38_base.fa.fai"
      gtf                   = "${params.genomeAnnotationPath}/Human/hg38_base/gtf/gencode.v34.annotation_proteinCoding.gtf"
      dbsnp                 = "${params.genomeAnnotationPath}/Human/hg38_base/tool_databases/nf-vegan/dbsnp_146.hg38.vcf.gz"
      dbsnpIndex            = "${params.genomeAnnotationPath}/Human/hg38_base/tool_databases/nf-vegan/dbsnp_146.hg38.vcf.gz.tbi"
      acLoci                = "${params.genomeAnnotationPath}/Human/hg38/tool_databases/ascat_hg38/loci/G1000_loci_hg38.txt"
      acLociGC              = "${params.genomeAnnotationPath}/Human/hg38/tool_databases/ascat_hg38/GC_G1000_hg38_snp.txt"
      polyms                = "${params.genomeAnnotationPath}/Human/hg38_base/tool_databases/nf-vegan/44polyms_hg38_lifted.bed"
      germlineResource      = "${params.genomeAnnotationPath}/Human/hg38_base/tool_databases/nf-vegan/af-only-gnomad.hg38.vcf.gz"
      germlineResourceIndex = "${params.genomeAnnotationPath}/Human/hg38_base/tool_databases/nf-vegan/af-only-gnomad.hg38.vcf.gz.tbi"
      pileupSum             = "${params.genomeAnnotationPath}/Human/hg38_base/tool_databases/nf-vegan/small_exac_common_3.hg38.vcf.gz"
      pileupSumIndex        = "${params.genomeAnnotationPath}/Human/hg38_base/tool_databases/nf-vegan/small_exac_common_3.hg38.vcf.gz.tbi"
      intervals             = "${params.genomeAnnotationPath}/Human/hg38_base/tool_databases/nf-vegan/wgs_calling_regions_perchr.bed"
      knownIndels           = "${params.genomeAnnotationPath}/Human/hg38_base/tool_databases/nf-vegan/{Mills_and_1000G_gold_standard.indels.hg38,beta/Homo_sapiens_assembly38.known_indels}.vcf.gz"
      knownIndelsIndex      = "${params.genomeAnnotationPath}/Human/hg38_base/tool_databases/nf-vegan/{Mills_and_1000G_gold_standard.indels.hg38,beta/Homo_sapiens_assembly38.known_indels}.vcf.gz.tbi"
      snpeffDb              = "hg38"
      snpeffCache           = "${params.genomeAnnotationPath}/Human/hg38_base/tool_databases/snpEff_v5_0/"
      cosmicDb              = "${params.genomeAnnotationPath}/Human/hg38_base/tool_databases/cosmic_v96/CosmicCodingMuts_v96_hg38.vcf.gz"
      cosmicDbIndex         = "${params.genomeAnnotationPath}/Human/hg38_base/tool_databases/cosmic_v96/CosmicCodingMuts_v96_hg38.vcf.gz.tbi"
      icgcDb                = "${params.genomeAnnotationPath}/Human/hg38_base/tool_databases/icgc/icgc_release28_summary_simple_somatic_mutation.aggregated_hg38.vcf.gz"
      icgcDbIndex           = "${params.genomeAnnotationPath}/Human/hg38_base/tool_databases/icgc/icgc_release28_summary_simple_somatic_mutation.aggregated_hg38.vcf.gz.tbi"
      cancerhotspotsDb      = "${params.genomeAnnotationPath}/Human/hg38_base/tool_databases/cancer_hotspots/cancerhotspots.v2.hg38.sort.vcf.gz"
      cancerhotspotsDbIndex = "${params.genomeAnnotationPath}/Human/hg38_base/tool_databases/cancer_hotspots/cancerhotspots.v2.hg38.sort.vcf.gz.tbi"
      gnomadDb              = "${params.genomeAnnotationPath}/Human/hg38_base/tool_databases/nf-vegan/af-only-gnomad.hg38.vcf.gz"
      gnomadDbindex         = "${params.genomeAnnotationPath}/Human/hg38_base/tool_databases/nf-vegan/af-only-gnomad.hg38.vcf.gz.tbi"
      dbnsfp                = "${params.genomeAnnotationPath}/Human/hg38_base/tool_databases/dbNSFP/dbNSFP4.1a_hg38.txt.gz"
      dbnsfpIndex           = "${params.genomeAnnotationPath}/Human/hg38_base/tool_databases/dbNSFP/dbNSFP4.1a_hg38.txt.gz.tbi"
      effGenomeSize         = "2937655681"
    }

    /*************
     Mouse
    **************/

    'mm10' {
      bwaIndex              = "${params.genomeAnnotationPath}/Mouse/mm10/indexes/bwa/mm10"
      chrLength             = "${params.genomeAnnotationPath}/Mouse/mm10/genome/chrom_mm10.sizes"
      dict                  = "${params.genomeAnnotationPath}/Mouse/mm10/genome/mm10.dict"
      fasta                 = "${params.genomeAnnotationPath}/Mouse/mm10/genome/mm10.fa"
      fastaFai              = "${params.genomeAnnotationPath}/Mouse/mm10/genome/mm10.fa.fai"
      gtf                   = "${params.genomeAnnotationPath}/Mouse/mm10/gtf/gencode.vM22.annotation_proteinCoding.gtf"
      intervals             = "${params.genomeAnnotationPath}/Mouse/mm10/tool_databases/nf-vegan/wgs_calling_regions_perchr.bed"
      snpeffDb              = "mm10"
      snpeffCache           = "${params.genomeAnnotationPath}/Mouse/mm10/tool_databases/snpEff_v5_0/"
    }

    'mm39' {
      bwaIndex              = "${params.genomeAnnotationPath}/Mouse/mm39/indexes/bwa/mm39"
      chrLength             = "${params.genomeAnnotationPath}/Mouse/mm39/genome/chrom_mm39.sizes"
      dict                  = "${params.genomeAnnotationPath}/Mouse/mm39/genome/mm39.dict"
      fasta                 = "${params.genomeAnnotationPath}/Mouse/mm39/genome/mm39.fa"
      fastaFai              = "${params.genomeAnnotationPath}/Mouse/mm39/genome/mm39.fa.fai"
      gtf                   = "${params.genomeAnnotationPath}/Mouse/mm39/gtf/gencode.vM27.annotation_proteinCoding.gtf"
      intervals             = "${params.genomeAnnotationPath}/Mouse/mm39/tool_databases/nf-vegan/wgs_calling_regions_perchr.bed"
    }

    'dmelr6.28' {
      bwaIndex              = "${params.genomeAnnotationPath}/Drosophila_melanogaster/dmelr6.28/indexes/bwa/Drosophila_melanogaster.BDGP6.28.dna.toplevel"
      chrLength             = "${params.genomeAnnotationPath}/Drosophila_melanogaster/dmelr6.28/genome/chrom_dmelr6.28.sizes"
      dict                  = "${params.genomeAnnotationPath}/Drosophila_melanogaster/dmelr6.28/genome/Drosophila_melanogaster.BDGP6.28.dna.toplevel.dict"
      fasta                 = "${params.genomeAnnotationPath}/Drosophila_melanogaster/dmelr6.28/genome/Drosophila_melanogaster.BDGP6.28.dna.toplevel.fa"
      fastaFai              = "${params.genomeAnnotationPath}/Drosophila_melanogaster/dmelr6.28/genome/Drosophila_melanogaster.BDGP6.28.dna.toplevel.fa.fai"
      gtf                   = "${params.genomeAnnotationPath}/Drosophila_melanogaster/dmelr6.28/gtf/Drosophila_melanogaster.BDGP6.28.101_proteinCoding.gtf"
      intervals             = "${params.genomeAnnotationPath}/Drosophila_melanogaster/dmelr6.28/tool_databases/nf-vegan/wgs_calling_regions_perchr.bed"
    }

    /*************
     Oryza sativa
    **************/

    'AusN22' {
      bwaIndex              = "${params.genomeAnnotationPath}/Oryza_sativa/aus_N22/indexes/bwa/Oryza_sativa_aus_N22.assembly"
      chrLength             = "${params.genomeAnnotationPath}/Oryza_sativa/aus_N22/genome/chrom_Oryza_sativa_aus_N22.assembly.fna.sizes"
      dict                  = "${params.genomeAnnotationPath}/Oryza_sativa/aus_N22/genome/Oryza_sativa_aus_N22.assembly.dict"
      fasta                 = "${params.genomeAnnotationPath}/Oryza_sativa/aus_N22/genome/Oryza_sativa_aus_N22.assembly.fna"
      fastaFai              = "${params.genomeAnnotationPath}/Oryza_sativa/aus_N22/genome/Oryza_sativa_aus_N22.assembly.fna.fai"
      gtf                   = "${params.genomeAnnotationPath}/Oryza_sativa/aus_N22/gtf/Oryza_sativa_aus_N22.gtf"
    }

    /*************
     Bomby mori
    **************/

    'bmoriV3_base' {
      bwaIndex              = "${params.genomeAnnotationPath}/Bombyx_mori/bmoriV3_base/index/bwa/Bmori_v3_base"
      chrLength             = "${params.genomeAnnotationPath}/Bombyx_mori/bmoriV3_base/genome/chrom_bombyx.sizes"
      dict                  = "${params.genomeAnnotationPath}/Bombyx_mori/bmoriV3_base/genome/Bmori_v3_base.dict"
      fasta                 = "${params.genomeAnnotationPath}/Bombyx_mori/bmoriV3_base/genome/Bmori_v3_base.fasta"
      fastaFai              = "${params.genomeAnnotationPath}/Bombyx_mori/bmoriV3_base/genome/Bmori_v3_base.fasta.fai"
      gtf                   = "${params.genomeAnnotationPath}/Bombyx_mori/bmoriV3_base/gtf/Bmori_v3_base.gtf"
    }

    'bmoriV4_base' {
      bwaIndex              = "${params.genomeAnnotationPath}/Bombyx_mori/bmoriV4_base/index/bwa/Bmori_v4_base"
      chrLength             = "${params.genomeAnnotationPath}/bmoriV4_base/genome/chrom_Bmori_v4_base.sizes"
      dict                  = "${params.genomeAnnotationPath}/bmoriV3_base/genome/Bmori_v4_base.dict"
      fasta                 = "${params.genomeAnnotationPath}/bmoriV3_base/genome/Bmori_v3_base.fasta"
      fastaFai              = "${params.genomeAnnotationPath}/bmoriV3_base/genome/Bmori_v3_base.fasta.fai"
      gtf                   = "${params.genomeAnnotationPath}/bmoriV3_base/gtf/Bmori_v4_2021_notes.gtf"
    }

    /*************************
     Saccharomyces Cerevisae
     ************************/

    'sacCer3' {
      bwaIndex              = "${params.genomeAnnotationPath}/Saccharomyces_cerevisiae/sacCer3/indexes/bwa/sacCer3"
      chrLength             = "${params.genomeAnnotationPath}/Saccharomyces_cerevisiae/sacCer3/genome/chrom_sacCer3.sizes"
      dict                  = "${params.genomeAnnotationPath}/Saccharomyces_cerevisiae/sacCer3/genome/sacCer3.dict"
      fasta                 = "${params.genomeAnnotationPath}/Saccharomyces_cerevisiae/sacCer3/genome/sacCer3.fa"
      fastaFai              = "${params.genomeAnnotationPath}/Saccharomyces_cerevisiae/sacCer3/genome/sacCer3.fa.fai"
      gtf                   = "${params.genomeAnnotationPath}/Saccharomyces_cerevisiae/sacCer3/gtf/sacCer3.ensGene.gtf"
    }

    'S288c' {
      bwaIndex              = "${params.genomeAnnotationPath}/Saccharomyces_cerevisiae/S288c/indexes/bwa/Saccharomyces_cerevisiae.R64-1-1.dna.toplevel"
      chrLength             = "${params.genomeAnnotationPath}/Saccharomyces_cerevisiae/S288c/genome/chrom_S288c.sizes"
      dict                  = "${params.genomeAnnotationPath}/Saccharomyces_cerevisiae/S288c/genome/Saccharomyces_cerevisiae.R64-1-1.dna.toplevel.dict"
      fasta                 = "${params.genomeAnnotationPath}/Saccharomyces_cerevisiae/S288c/genome/Saccharomyces_cerevisiae.R64-1-1.dna.toplevel.fa"
      fastaFai              = "${params.genomeAnnotationPath}/Saccharomyces_cerevisiae/S288c/genome/Saccharomyces_cerevisiae.R64-1-1.dna.toplevel.fa.fai"
      gtf                   = "${params.genomeAnnotationPath}/Saccharomyces_cerevisiae/S288c/gtf/Saccharomyces_cerevisiae.R64-1-1.93_proteinCoding.gtf"
    }
  }
}
