/*
 * Define modules options
 */

process {

  // Default
  publishDir = [
    path: { "${params.outDir}/${task.process.tokenize(':')[-1].tokenize('_')[0]}" },
    mode: 'copy',
    saveAs: { filename -> filename.equals('versions.txt') ? null : filename }
  ]

  withName:'bwaMem' {
    publishDir = [
      [
        path: { "${params.outDir}/mapping" },
	mode: 'copy',
	pattern: "*.bam",
	enabled: params.saveAlignedIntermediates
      ],
      [
        path: { "${params.outDir}/mapping/logs" },
	mode: 'copy',
	pattern: "*.log"
      ]
    ]
    // ext.args = params.bwaOptions ?: ''
    ext.args = {[
        params.bwaOptions ?: '',
        "-R \"@RG\\tID:${meta.id}\\tPU:${meta.id}\\tSM:${meta.name}\\tLB:${meta.name}\\tPL:illumina\""
    ].join(' ').trim() }
    }

  withName: 'preseq' {
    publishDir = [
      path: { "${params.outDir}/preprocessing/metrics/preseq" },
      mode: 'copy',
      pattern: '*.bai'
    ]
    ext.args = '-e 500e+06'
  }


  withName: 'samtoolsIndex' {
    publishDir = [
      path: { "${params.outDir}/mapping" },
      mode: 'copy',
      pattern: '*.bai'
    ]
  }

  withName:'markDuplicates' {
    publishDir = [
      [
        path: { "${params.outDir}/preprocessing/bams/markDuplicates" },
        mode: 'copy',
        pattern: "*markDups.bam",
        enabled: params.saveAlignedIntermediates
      ],
      [
        path: { "${params.outDir}/preprocessing/bams/markDuplicates/stats" },
        mode: 'copy',
        pattern: '*md.flagstats'
      ]
    ]
  }

  withName:'bamOnTarget' {
    publishDir = [
      [
        path: { "${params.outDir}/preprocessing/bams/onTarget" },
        mode: 'copy',
        pattern: "*_onTarget.bam",
        enabled: params.saveAlignedIntermediates
      ],
      [
        path: { "${params.outDir}/preprocessing/bams/onTarget/stats" },
        mode: 'copy',
        pattern: '*_onTarget.flagstats'
      ]
    ]
  }

  withName:'outputDocumentation' {
    publishDir = [
      path: { "${params.summaryDir}" },
      mode: 'copy'
    ]
  }
}
