/*
 * Define modules options
 */

process {

  // Default
  publishDir = [
    path: { "${params.outDir}/${task.process.tokenize(':')[-1].tokenize('_')[0]}" },
    mode: 'copy',
    saveAs: { filename -> filename.equals('versions.txt') ? null : filename }
  ]

  withName:'bwaMem' {
    publishDir = [
      [
        path: { "${params.outDir}/mapping" },
	mode: 'copy',
	pattern: "*.bam",
	enabled: params.saveAlignedIntermediates
      ],
      [
        path: { "${params.outDir}/mapping/logs" },
	mode: 'copy',
	pattern: "*.log"
      ]
    ]
    ext.args = params.bwaOptions ?: ''
  }

  withName:'outputDocumentation' {
    publishDir = [
      path: { "${params.summaryDir}" },
      mode: 'copy'
    ]
  }

  withName: 'samtoolsIndex' {
    publishDir = [
      path: { "${params.outDir}/mapping" },
      mode: 'copy',
      pattern: '*.bai'
    ]
  }
}