includeConfig 'process.config'

conda { cacheDir = "${params.condaCacheDir}" }

process {
    withLabel:controlFreec { conda = "${params.geniac.tools.controlFreec}" }
    withLabel:fastqc { conda = "${params.geniac.tools.fastqc}" }
    withLabel:bcftools { conda = "${params.geniac.tools.bcftools}" }
    withLabel:bwa { conda = "${params.geniac.tools.bwa}" }
    withLabel:ensemblVep { conda = "${params.geniac.tools.ensemblVep}" }
    withLabel:ascat { conda = "${params.geniac.tools.ascat}" }
    withLabel:canceritAllelecount { conda = "${params.geniac.tools.canceritAllelecount}" }
    withLabel:manta { conda = "${params.geniac.tools.manta}" }
    withLabel:genesplicer { conda = "${params.geniac.tools.genesplicer}" }
    withLabel:freebayes { conda = "${params.geniac.tools.freebayes}" }
    withLabel:htslib { conda = "${params.geniac.tools.htslib}" }
    withLabel:snpeff { conda = "${params.geniac.tools.snpeff}" }
    withLabel:qualimap { conda = "${params.geniac.tools.qualimap}" }
    withLabel:gatk { conda = "${params.geniac.tools.gatk}" }
    withLabel:vcftools { conda = "${params.geniac.tools.vcftools}" }
    withLabel:vcfanno { conda = "${params.geniac.tools.vcfanno}" }
    withLabel:samtools { conda = "${params.geniac.tools.samtools}" }
    withLabel:strelka { conda = "${params.geniac.tools.strelka}" }
    withLabel:sambamba { conda = "${params.geniac.tools.sambamba}" }
    withLabel:multiqc { conda = "${params.geniac.tools.multiqc}" }
    withLabel:gatk_bwa_samtools { conda = "${params.geniac.tools.gatk_bwa_samtools}" }
    withLabel:tiddit { conda = "${params.geniac.tools.tiddit}" }
    withLabel:tabix { conda = "${params.geniac.tools.tabix}" }
}
