includeConfig 'process.config'

conda { cacheDir = "${params.condaCacheDir}" }

process {
    withLabel:qualimap { conda = "${params.geniac.tools.qualimap}" }
    withLabel:tabix { conda = "${params.geniac.tools.tabix}" }
    withLabel:bcftools { conda = "${params.geniac.tools.bcftools}" }
    withLabel:manta { conda = "${params.geniac.tools.manta}" }
    withLabel:gatk { conda = "${params.geniac.tools.gatk}" }
    withLabel:sambamba { conda = "${params.geniac.tools.sambamba}" }
    withLabel:gatk_bwa_samtools { conda = "${params.geniac.tools.gatk_bwa_samtools}" }
    withLabel:fastqc { conda = "${params.geniac.tools.fastqc}" }
    withLabel:samtools { conda = "${params.geniac.tools.samtools}" }
    withLabel:snpeff { conda = "${params.geniac.tools.snpeff}" }
    withLabel:vcftools { conda = "${params.geniac.tools.vcftools}" }
    withLabel:ascat { conda = "${params.geniac.tools.ascat}" }
    withLabel:multiqc { conda = "${params.geniac.tools.multiqc}" }
    withLabel:canceritAllelecount { conda = "${params.geniac.tools.canceritAllelecount}" }
    withLabel:bwa { conda = "${params.geniac.tools.bwa}" }
}