conda {
    cacheDir = "${params.condaCacheDir}"
}

process {
    withLabel:tabix { conda = "${params.geniac.tools.tabix}" }
    withLabel:vcftools { conda = "${params.geniac.tools.vcftools}" }
    withLabel:samtools { conda = "${params.geniac.tools.samtools}" }
    withLabel:bedtools { conda = "${params.geniac.tools.bedtools}" }
    withLabel:polym { conda = "${params.geniac.tools.polym}" }
    withLabel:sambamba { conda = "${params.geniac.tools.sambamba}" }
    withLabel:manta { conda = "${params.geniac.tools.manta}" }
    withLabel:gatk { conda = "${params.geniac.tools.gatk}" }
    withLabel:picard { conda = "${params.geniac.tools.picard}" }
    withLabel:preseq { conda = "${params.geniac.tools.preseq}" }
    withLabel:bwa { conda = "${params.geniac.tools.bwa}" }
    withLabel:canceritAllelecount { conda = "${params.geniac.tools.canceritAllelecount}" }
    withLabel:ascat { conda = "${params.geniac.tools.ascat}" }
    withLabel:bcftools { conda = "${params.geniac.tools.bcftools}" }
    withLabel:qualimap { conda = "${params.geniac.tools.qualimap}" }
    withLabel:python { conda = "${params.geniac.tools.python}" }
    withLabel:snpeff { conda = "${params.geniac.tools.snpeff}" }
    withLabel:multiqc { conda = "${params.geniac.tools.multiqc}" }
    withLabel:mosdepth { conda = "${params.geniac.tools.mosdepth}" }
    withLabel:fastqc { conda = "${params.geniac.tools.fastqc}" }
    withLabel:gatkBwaSamtools { conda = "${params.geniac.tools.gatkBwaSamtools}" }
}