def checkProfileMultipath(path){
  if (new File(path).exists()){
    File directory = new File(path)
    def contents = []
    directory.eachFileRecurse (groovy.io.FileType.FILES){ file -> contents << file }
    if (!path?.trim() || contents == null || contents.size() == 0){
      println "   ### ERROR ###   The option '-profile multipath' requires the configuration of each tool path. See `--globalPath` for advanced usage."
      System.exit(-1)
    }
  }else{
    println "   ### ERROR ###   The option '-profile multipath' requires the configuration of each tool path. See `--globalPath` for advanced usage."
    System.exit(-1)
  }
}

singularity {
  enabled = false
}

docker {
  enabled = false
}

process {
  checkProfileMultipath("${params.geniac.multiPath}")
  withLabel:unix{ beforeScript = "export PATH=${params.geniac.multiPath}/unix/bin:$PATH" }
  withLabel:ascat{ beforeScript = "export PATH=${params.geniac.multiPath}/ascat/bin:$PATH" }
  withLabel:bcftools{ beforeScript = "export PATH=${params.geniac.multiPath}/bcftools/bin:$PATH" }
  withLabel:bedtools{ beforeScript = "export PATH=${params.geniac.multiPath}/bedtools/bin:$PATH" }
  withLabel:bwa{ beforeScript = "export PATH=${params.geniac.multiPath}/bwa/bin:$PATH" }
  withLabel:facets{ beforeScript = "export PATH=${params.geniac.multiPath}/facets/bin:$PATH" }
  withLabel:fastqc{ beforeScript = "export PATH=${params.geniac.multiPath}/fastqc/bin:$PATH" }
  withLabel:gatk{ beforeScript = "export PATH=${params.geniac.multiPath}/gatk/bin:$PATH" }
  withLabel:identito{ beforeScript = "export PATH=${params.geniac.multiPath}/identito/bin:$PATH" }
  withLabel:manta{ beforeScript = "export PATH=${params.geniac.multiPath}/manta/bin:$PATH" }
  withLabel:mosdepth{ beforeScript = "export PATH=${params.geniac.multiPath}/mosdepth/bin:$PATH" }
  withLabel:multiqc{ beforeScript = "export PATH=${params.geniac.multiPath}/multiqc/bin:$PATH" }
  withLabel:picard{ beforeScript = "export PATH=${params.geniac.multiPath}/picard/bin:$PATH" }
  withLabel:preseq{ beforeScript = "export PATH=${params.geniac.multiPath}/preseq/bin:$PATH" }
  withLabel:python{ beforeScript = "export PATH=${params.geniac.multiPath}/python/bin:$PATH" }
  withLabel:sambamba{ beforeScript = "export PATH=${params.geniac.multiPath}/sambamba/bin:$PATH" }
  withLabel:samtools{ beforeScript = "export PATH=${params.geniac.multiPath}/samtools/bin:$PATH" }
  withLabel:snpeff{ beforeScript = "export PATH=${params.geniac.multiPath}/snpeff/bin:$PATH" }
  withLabel:tabix{ beforeScript = "export PATH=${params.geniac.multiPath}/tabix/bin:$PATH" }
  withLabel:transition{ beforeScript = "export PATH=${params.geniac.multiPath}/transition/bin:$PATH" }
}
