includeConfig 'process.config'

singularity {
  enable = false
}

docker {
  enable = false
}

process {
    withLabel:alpine { beforeScript = "export PATH=${baseDir}/../path/alpine/bin:$PATH" } 
    withLabel:controlFreec { beforeScript = "export PATH=${baseDir}/../path/controlFreec/bin:$PATH" } 
    withLabel:ascat { beforeScript = "export PATH=${baseDir}/../path/ascat/bin:$PATH" } 
    withLabel:bcftools { beforeScript = "export PATH=${baseDir}/../path/bcftools/bin:$PATH" } 
    withLabel:canceritAllelecount { beforeScript = "export PATH=${baseDir}/../path/canceritAllelecount/bin:$PATH" } 
    withLabel:ensemblVep { beforeScript = "export PATH=${baseDir}/../path/ensemblVep/bin:$PATH" } 
    withLabel:freebayes { beforeScript = "export PATH=${baseDir}/../path/freebayes/bin:$PATH" } 
    withLabel:bwa { beforeScript = "export PATH=${baseDir}/../path/bwa/bin:$PATH" } 
    withLabel:fastqc { beforeScript = "export PATH=${baseDir}/../path/fastqc/bin:$PATH" } 
    withLabel:genesplicer { beforeScript = "export PATH=${baseDir}/../path/genesplicer/bin:$PATH" } 
    withLabel:helloWorld { beforeScript = "export PATH=${baseDir}/../path/helloWorld/bin:$PATH" } 
    withLabel:manta { beforeScript = "export PATH=${baseDir}/../path/manta/bin:$PATH" } 
    withLabel:htslib { beforeScript = "export PATH=${baseDir}/../path/htslib/bin:$PATH" } 
    withLabel:qualimap { beforeScript = "export PATH=${baseDir}/../path/qualimap/bin:$PATH" } 
    withLabel:snpeff { beforeScript = "export PATH=${baseDir}/../path/snpeff/bin:$PATH" } 
    withLabel:samtools { beforeScript = "export PATH=${baseDir}/../path/samtools/bin:$PATH" } 
    withLabel:strelka { beforeScript = "export PATH=${baseDir}/../path/strelka/bin:$PATH" } 
    withLabel:vcfanno { beforeScript = "export PATH=${baseDir}/../path/vcfanno/bin:$PATH" } 
    withLabel:vcftools { beforeScript = "export PATH=${baseDir}/../path/vcftools/bin:$PATH" } 
    withLabel:gatk { beforeScript = "export PATH=${baseDir}/../path/gatk/bin:$PATH" } 
    withLabel:tiddit { beforeScript = "export PATH=${baseDir}/../path/tiddit/bin:$PATH" } 
    withLabel:gatk_bwa_samtools { beforeScript = "export PATH=${baseDir}/../path/gatk_bwa_samtools/bin:$PATH" } 
    withLabel:sentieon { beforeScript = "export PATH=${baseDir}/../path/sentieon/bin:$PATH" } 
    withLabel:tabix { beforeScript = "export PATH=${baseDir}/../path/tabix/bin:$PATH" } 
    withLabel:multiqc { beforeScript = "export PATH=${baseDir}/../path/multiqc/bin:$PATH" } 
}
