includeConfig 'process.config'

singularity {
    enable = false
}

docker {
    enable = false
}

process {
    withLabel:snpeffGrCh37GrCh38 { beforeScript = "export PATH=${projectDir}/../path/snpeffGrCh37GrCh38/bin:$PATH" }
    withLabel:qualimap { beforeScript = "export PATH=${projectDir}/../path/qualimap/bin:$PATH" }
    withLabel:tabix { beforeScript = "export PATH=${projectDir}/../path/tabix/bin:$PATH" }
    withLabel:bcftools { beforeScript = "export PATH=${projectDir}/../path/bcftools/bin:$PATH" }
    withLabel:manta { beforeScript = "export PATH=${projectDir}/../path/manta/bin:$PATH" }
    withLabel:gatk { beforeScript = "export PATH=${projectDir}/../path/gatk/bin:$PATH" }
    withLabel:gatkBwaSamtools { beforeScript = "export PATH=${projectDir}/../path/gatkBwaSamtools/bin:$PATH" }
    withLabel:sambamba { beforeScript = "export PATH=${projectDir}/../path/sambamba/bin:$PATH" }
    withLabel:fastqc { beforeScript = "export PATH=${projectDir}/../path/fastqc/bin:$PATH" }
    withLabel:samtools { beforeScript = "export PATH=${projectDir}/../path/samtools/bin:$PATH" }
    withLabel:snpeff { beforeScript = "export PATH=${projectDir}/../path/snpeff/bin:$PATH" }
    withLabel:multiqc { beforeScript = "export PATH=${projectDir}/../path/multiqc/bin:$PATH" }
    withLabel:vcftools { beforeScript = "export PATH=${projectDir}/../path/vcftools/bin:$PATH" }
    withLabel:ascat { beforeScript = "export PATH=${projectDir}/../path/ascat/bin:$PATH" }
    withLabel:canceritAllelecount { beforeScript = "export PATH=${projectDir}/../path/canceritAllelecount/bin:$PATH" }
    withLabel:bwa { beforeScript = "export PATH=${projectDir}/../path/bwa/bin:$PATH" }
    withLabel:polym { beforeScript = "export PATH=${projectDir}/../path/polym:$PATH" }
}
