includeConfig 'process.config'

singularity {
  enable = false
}

docker {
  enable = false
}

process {
    withLabel:alpine { beforeScript = "export PATH=${baseDir}/../path/alpine/bin:$PATH" } 
    withLabel:gatk { beforeScript = "export PATH=${baseDir}/../path/gatk/bin:$PATH" } 
    withLabel:bwa { beforeScript = "export PATH=${baseDir}/../path/bwa/bin:$PATH" } 
    withLabel:fastqc { beforeScript = "export PATH=${baseDir}/../path/fastqc/bin:$PATH" } 
    withLabel:samtools { beforeScript = "export PATH=${baseDir}/../path/samtools/bin:$PATH" } 
    withLabel:helloWorld { beforeScript = "export PATH=${baseDir}/../path/helloWorld/bin:$PATH" } 
    withLabel:tabix { beforeScript = "export PATH=${baseDir}/../path/tabix/bin:$PATH" } 
    withLabel:sentieon { beforeScript = "export PATH=${baseDir}/../path/sentieon/bin:$PATH" } 
    withLabel:gatk_bwa_samtools { beforeScript = "export PATH=${baseDir}/../path/gatk_bwa_samtools/bin:$PATH" } 
    withLabel:multiqc { beforeScript = "export PATH=${baseDir}/../path/multiqc/bin:$PATH" } 
}
