/*
 * -------------------------------------------------
 *  Nextflow process config file
 * -------------------------------------------------
 *
 */

process {
  cpus = {checkResource(params.cpus * task.attempt)}
  memory = {checkResource((params.singleCPUMem as nextflow.util.MemoryUnit) * task.attempt)}
  time = {checkResource(24.h * task.attempt)}
  shell = ['/bin/bash', '-euo', 'pipefail']

  errorStrategy = { task.exitStatus in [127,143,137,104,134,135,139,247,249,250,255] ? 'retry' : 'finish' }
  maxRetries = 3
  maxErrors = '-1'

  // Process-specific resource requirements
  // Customise requirements for specific processes
  withLabel: minCpu { 
    cpus = { checkMax( 1 * task.attempt, 'cpus' ) } 
  }
  withLabel: lowCpu { 
    cpus = { checkMax( 2 * task.attempt, 'cpus' ) }
  }
  withLabel: medCpu {
    cpus = { checkMax( 4 * task.attempt, 'cpus' ) }
  }
  withLabel: highCpu {
    cpus = { checkMax( 8 * task.attempt, 'cpus' ) }
  }
  withLabel: extraCpu {
    cpus = { checkMax( 16 * task.attempt, 'cpus' ) }
  }

  withLabel: minMem {
    memory = { checkMax( 1.GB * task.attempt, 'memory' ) }
  }
  withLabel: lowMem {
    memory = { checkMax( 3.GB * task.attempt, 'memory' ) }
  }
  withLabel: medMem {
    memory = { checkMax( 8.GB * task.attempt, 'memory' ) }
  }
  withLabel: highMem {
   memory = { checkMax( 24.GB * task.attempt, 'memory' ) }
  }
  withLabel: extraMem {
    memory = { checkMax( 32.GB * task.attempt, 'memory' ) }
  }


  /*
  withLabel:cpus1 {
    cpus = {checkResource(1)}
  }
  withLabel:cpus2 {
    cpus = {checkResource(2)}
  }
  withLabel:cpus4 {
    cpus = {checkResource(4)}
  }
  withLabel:cpus8 {
    cpus = {checkResource(8)}
  }
  withLabel:cpus16 {
    cpus = {checkResource(16)}
  }
  withLabel:cpusMax {
    cpus = {params.maxCpus}
  }
  */

  withLabel:memorySingleCPU2Task {
    memory = {checkResource((params.singleCPUMem as nextflow.util.MemoryUnit) * 2 * task.attempt)}
  }
  withLabel:memorySingleCPUTaskSq {
    memory = {checkResource((params.singleCPUMem as nextflow.util.MemoryUnit) * task.attempt * task.attempt)}
  }

  /*
  withLabel:memoryMax {
    memory = {params.maxMemory}
  }
  withLabel: smallCpu { cpus = 1 }
  withLabel: medCpu { cpus = 6 }
  withLabel: bigCpu { cpus = 12 }
  withLabel: smallMem { memory = '2 GB' }
  withLabel: medMem { memory = '50 GB' }
  withLabel: bigMem { memory = '120 GB' }
  */
}

