includeConfig 'process.config'

singularity {
    enabled = true
    autoMounts = true
    runOptions = "${params.geniac.containers.singularityRunOptions}"
}

process {
    withLabel:onlyLinux { container = "${params.geniac.containers.singularityImagePath}/onlylinux.simg" }
    withLabel:controlFreec { container = "${params.geniac.containers.singularityImagePath}/controlfreec.simg" }
    withLabel:fastqc { container = "${params.geniac.containers.singularityImagePath}/fastqc.simg" }
    withLabel:bcftools { container = "${params.geniac.containers.singularityImagePath}/bcftools.simg" }
    withLabel:bwa { container = "${params.geniac.containers.singularityImagePath}/bwa.simg" }
    withLabel:ensemblVep { container = "${params.geniac.containers.singularityImagePath}/ensemblvep.simg" }
    withLabel:ascat { container = "${params.geniac.containers.singularityImagePath}/ascat.simg" }
    withLabel:canceritAllelecount { container = "${params.geniac.containers.singularityImagePath}/canceritallelecount.simg" }
    withLabel:manta { container = "${params.geniac.containers.singularityImagePath}/manta.simg" }
    withLabel:genesplicer { container = "${params.geniac.containers.singularityImagePath}/genesplicer.simg" }
    withLabel:freebayes { container = "${params.geniac.containers.singularityImagePath}/freebayes.simg" }
    withLabel:htslib { container = "${params.geniac.containers.singularityImagePath}/htslib.simg" }
    withLabel:snpeff { container = "${params.geniac.containers.singularityImagePath}/snpeff.simg" }
    withLabel:qualimap { container = "${params.geniac.containers.singularityImagePath}/qualimap.simg" }
    withLabel:gatk { container = "${params.geniac.containers.singularityImagePath}/gatk.simg" }
    withLabel:vcftools { container = "${params.geniac.containers.singularityImagePath}/vcftools.simg" }
    withLabel:vcfanno { container = "${params.geniac.containers.singularityImagePath}/vcfanno.simg" }
    withLabel:samtools { container = "${params.geniac.containers.singularityImagePath}/samtools.simg" }
    withLabel:strelka { container = "${params.geniac.containers.singularityImagePath}/strelka.simg" }
    withLabel:multiqc { container = "${params.geniac.containers.singularityImagePath}/multiqc.simg" }
    withLabel:sambamba { container = "${params.geniac.containers.singularityImagePath}/sambamba.simg" }
    withLabel:gatk_bwa_samtools { container = "${params.geniac.containers.singularityImagePath}/gatk_bwa_samtools.simg" }
    withLabel:tiddit { container = "${params.geniac.containers.singularityImagePath}/tiddit.simg" }
    withLabel:sentieon { container = "${params.geniac.containers.singularityImagePath}/sentieon.simg" }
    withLabel:tabix { container = "${params.geniac.containers.singularityImagePath}/tabix.simg" }
}
