/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run main.nf -profile test --genomeAnnotationPath /path/to/annotations
 */

 /*
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     Nextflow config file for running minimal tests
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     Defines input files and everything required to run a fast and simple pipeline test.
     Use as follows:
         nextflow run main.nf -profile test,multiconda \
            --step mapping \ # or filtering, calling, annotate
            --condaCacheDir /bioinfo/local/curie/ngs-data-analysis/centos/tools/containers/conda/vegan-2.0.0/ \
            --genomeAnnotationPath /data/annotations/pipelines/ \
            --outdir ./results -w ./work -resume
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

params {

  config_profile_name = 'EUCANCAN/vegan test data'
  configProfileDescription = 'Minimal test dataset to check pipeline functions'

  // Limit resources so that this can run
  maxCpus = 4
  maxMemory = 48.GB
  maxTime = 48.h

  // Annotations
  genome =  'hg19'

  //Step
  step =  'mapping' // 'filtering','calling','annotate'
  if (params.step == "mapping"){
    samplePlan = "${projectDir}/test/csv/exoBench_22k.splan.csv"
  }else if (params.step == "filtering"){
    samplePlan = "${projectDir}/test/csv/exoBench_22k_bam.splan.csv"
  }else if (params.step == "calling"){
    samplePlan = "${projectDir}/test/csv/exoBench_22k_bam.splan.csv"
  }else if (params.step == "annotate"){
    samplePlan = "${projectDir}/test/csv/exoBench_22k_vcf.splan.csv"
  }

  design = "${projectDir}/test/csv/exoBench.design.csv"
  //design = "${projectDir}/test/csv/exoBench.design.tumor_only.csv"

  // Tools
  //tools = false
  tools = 'mutect2,snpeff,haplotypecaller,manta,msisensor,facets,tmb'

  // Target
  targetBed = "${projectDir}/test/target/test_vegan.bed"
  //targetBed = "${projectDir}/test/target/TargetRegions.bed"
  //targetBED = "${projectDir}/test/target/Target_bed_lifted_hg38.sort.bed"
}
