/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run main.nf -profile test --genomeAnnotationPath /path/to/annotations
 */

 /*
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     Nextflow config file for running minimal tests
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     Defines input files and everything required to run a fast and simple pipeline test.
     Use as follows:
         nextflow run main.nf -profile test,multiconda \
            --step mapping \ # or filtering, calling, annotate
            --condaCacheDir /bioinfo/local/curie/ngs-data-analysis/centos/tools/containers/conda/vegan-2.0.0/ \
            --genomeAnnotationPath /data/annotations/pipelines/ \
            --outdir ./results -w ./work -resume
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

params {
  disableAutoClean = true
  config_profile_name = 'VEGAN WGS test data'
  configProfileDescription = 'Minimal test dataset to check pipeline functions'

  // Limit resources so that this can run
  maxCpus = 4
  maxMemory = 48.GB
  maxTime = 48.h

  // Annotations
  genome =  'hg38'

  //Step
  samplePlan = "${projectDir}/test/csv/wgs_splan.csv"

  // Design
  design = "${projectDir}/test/csv/wgs_design.csv"
  pon = "${params.genomeAnnotationPath}/Human/hg38/tool_databases/nf-vegan/small_exac_common_3.hg38.vcf.gz"
  ponIndex = "${params.genomeAnnotationPath}/Human/hg38/tool_databases/nf-vegan/small_exac_common_3.hg38.vcf.gz.tbi"

  // Tools
  tools = 'mutect2,snpeff,facets'

  // Annotation
  annotDb = 'cosmic,icgc,cancerhotspots,gnomad,dbnsfp'
}
