/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run main.nf -profile test
 */

params {

  config_profile_name = 'EUCANCAN/nf-wgswes test data'
  config_profile_description = 'Minimal test dataset to check pipeline functions'

  // Limit resources so that this can run
  maxCpus = 7
  maxMemory = 32.GB
  maxTime = 5.h

  // Input data - Sample Plan
  input = '/data/tmp/plarosa/data/Sarek-data/HPC-bench/tsv/HPC-bench-test-WGS.13X.tsv'

  // Metadata

  // Annotations
  genomeAnnotationPath = '/bioinfo/local/curie/ngs-data-analysis/centos/nf-sarek/annotations/GRCh38'
  genome =  'GRCh38'

  //Step
  step = 'mapping'

  // Singularity
  singularityImagePath = '/data/u900pf-bioinfo/containers/commun/dev/singularity/nf-wgswes/images'

  // Tools
  tools = 'strelka'
  
  // Target
  targetBED = '/bioinfo/local/curie/ngs-data-analysis/centos/nf-sarek/data/HPC-bench/TargetRegions.bed'

}
