/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run main.nf -profile test
 */

// https://github.com/nf-core/test-datasets/tree/sarek

params {

// TODO: rm ?
  config_profile_name = 'EUCANCAN/nf-wgswes test data'
  config_profile_description = 'Minimal test dataset to check pipeline functions'

  // Limit resources so that this can run
  maxCpus = 7
  maxMemory = 32.GB
  maxTime = 5.h

  // Input data - Sample Plan
  input = 'https://raw.githubusercontent.com/nf-core/test-datasets/sarek/testdata/tsv/tiny-manta.tsv'

  // Metadata

  // Annotations
  genomeAnnotationPath = 'https://github.com/nf-core/test-datasets/raw/sarek/reference'
  genome =  'smallGRCh37'

  //Step
  step = 'mapping'

  // Tools
  tools = 'manta'

  // Target
  targetBED = 'https://raw.githubusercontent.com/nf-core/test-datasets/sarek/testdata/target.bed'

  queue = 'batch'
  skipQC = 'bamQC'
}
