/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run main.nf -profile test --genomeAnnotationPath /path/to/annotations
 */

 /*
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     Nextflow config file for running minimal tests
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     Defines input files and everything required to run a fast and simple pipeline test.
     Use as follows:
         nextflow run main.nf -profile test,multiconda \
            --step mapping \ # or filtering, calling, annotate
            --condaCacheDir /bioinfo/local/curie/ngs-data-analysis/centos/tools/containers/conda/vegan-2.0.0/ \
            --genomeAnnotationPath /data/annotations/pipelines/ \
            --outdir ./results -w ./work -resume
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

params {
  disableAutoClean = true
  config_profile_name = 'VEGAN WES test data'
  configProfileDescription = 'Minimal test dataset to check pipeline functions'

  // Limit resources so that this can run
  maxCpus = 4
  maxMemory = 48.GB
  maxTime = 48.h

  // Annotations
  genome =  'hg38'

  //Step
  step =  'mapping' // 'filtering','calling','annotate'
  if (params.step == "mapping"){
     readPaths =   [
                  ['D262E01_N',["$projectDir/test/data/exoBench/D262E01_N_22k.R1.fastq.gz"], ["$projectDir/test/data/exoBench/D262E01_N_22k.R2.fastq.gz"]],
                  ['D262E01_T', ["$projectDir/test/data/exoBench/D262E02_T_22k.R1.fastq.gz"], ["$projectDir/test/data/exoBench/D262E02_T_22k.R1.fastq.gz"]]
                    ]
    //samplePlan = "${projectDir}/test/csv/wes_splan.csv"
  }else if (params.step == "filtering"){
    samplePlan = "${projectDir}/test/csv/wes_bam_splan.csv"
  }else if (params.step == "calling"){
    samplePlan = "${projectDir}/test/csv/wes_bam_splan.csv"
  }else if (params.step == "annotate"){
    samplePlan = "${projectDir}/test/csv/wes_vcf_splan.csv"
  }

  // Design
  design = "${projectDir}/test/csv/wes_design.csv"

  // Tools
  //tools = 'haplotypecaller'
  tools = 'mutect2,snpeff,facets,tmb'//msisensor

  // Target
  targetBed = "${projectDir}/test/target/test_vegan_hg38.bed"

  // Annotation
  annotDb = 'cosmic,icgc,cancerhotspots,gnomad,dbnsfp'
}
