/*
 * -------------------------------------------------
 *  Nextflow config file for tools options
 * -------------------------------------------------
 * Defines parameters for tools
 */

params {

  //FastQC
  fastqcOpts = "-q"
  
  //trickySoftware
  trickySoftwareOpts = "--version"

  //BaseRecalibrator
  baseRecalibratorOpts = "./"
  
  markdupJavaOptions = '"-Xms4000m -Xmx7g"' //Established values for markDuplicate memory consumption, see https://github.com/SciLifeLab/Sarek/pull/689 for details
  bwaOptions = "-k 19 -T 30 -M" // Seed length of 19bp (k) and minimum score to report an alignement is 30 (-T), more options can be provided, mark shorter split hits as secondary (-M), cf bwa mem manual
  mapQual = 20 // Minimum mapping quality to consider for an alignment
  bapQual = 13 // Minimum base quality to consider for a base
  samtoolsUniqOptions = "-F 2308" // Allows to remove in addition secondary and additional reads
  nucleotidesPerSecond = 1000.0 // Default interval size
  annotation_cache = true // Annotation cache enabled
  cadd_cache = null // CADD cache disabled
  genesplicer = null // genesplicer disabled
  split_fastq = null // Fastq files will not be split by default
  saveGenomeIndex = null // Built Indexes not saved
  sequencing_center = null // No sequencing center to be written in BAM header in MapReads process
}

