/*
 * -------------------------------------------------
 *  Nextflow config file for tools options
 * -------------------------------------------------
 * Defines parameters for tools
 */

params {

  //FastQC
  fastqcOpts = "-q"
  
  //trickySoftware
  trickySoftwareOpts = "--version"
  
  markdupJavaOptions = '"-Xms4000m -Xmx7g"' //Established values for markDuplicate memory consumption, see https://github.com/SciLifeLab/Sarek/pull/689 for details
  nucleotidesPerSecond = 1000.0 // Default interval size
  annotation_cache = null // Annotation cache disabled
  cadd_cache = null // CADD cache disabled
  genesplicer = null // genesplicer disabled
  split_fastq = null // Fastq files will not be split by default
  saveGenomeIndex = null // Built Indexes not saved
  sequencing_center = null // No sequencing center to be written in BAM header in MapReads process
  sentieon = null // Not using Sentieon by default
}

