/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run main.nf -profile testSarek --genomeAnnotationPath https://raw.githubusercontent.com/nf-core/test-datasets/sarek/reference --genome smallGRCh37
 */

// https://github.com/nf-core/test-datasets/tree/sarek

params {

// TODO: rm ?
  config_profile_name = 'EUCANCAN/vegan test sarek datasets hosted on nf-core github'
  configProfileDescription = 'Minimal test dataset to check pipeline functions'

  // Limit resources so that this can run
  maxCpus = 2
  maxMemory = 6.GB
  maxTime = 48.h

  // Input data - Sample Plan
  samplePlan = 'test/tsv/tiny-manta-https.tsv'
  design = 'test/tsv/tiny-manta-https-design.tsv'

}

