/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run main.nf -profile test
 */

params {

  config_profile_name = 'EUCANCAN/nf-wgswes test data'
  config_profile_description = 'Minimal test dataset to check pipeline functions'

  // Limit resources so that this can run
  maxCpus = 7
  maxMemory = 32.GB
  maxTime = 5.h

  // Input data - Sample Plan
  //TODO: don't forget to change the path after MR (devel>master) and GitLab CI
//  input = 'https://gitlab.curie.fr/data-analysis/nf-wgswes/raw/devel/test/data/tsv/HPC-bench-test-WGS.13X.tsv'
  input = "$baseDir/test/data/tsv/HPC-bench-test-WGS.13X.tsv"

  // Metadata

  // Annotations
  genomeAnnotationPath = 'https://raw.githubusercontent.com/nf-core/test-datasets/sarek/reference'
  genome =  'GRCh37'

  //Step
  step = 'mapping'

  // Tools
  tools = 'manta'

  // Target
//  targetBED = 'https://gitlab.curie.fr/data-analysis/nf-wgswes/raw/devel/test/data/TargetRegions.bed'
  targetBED = "$baseDir/test/data/TargetRegions.bed"

//  intervals = 'https://gitlab.curie.fr/data-analysis/nf-wgswes/raw/devel/test/data/wgs_calling_small_regions.hg38.bed'
  intervals = "$baseDir/test/data/wgs_calling_small_regions.hg38.bed"

  skipQC = 'bamQC'
}
