/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run main.nf -profile test --genomeAnnotationPath /path/to/annotations
 */

params {

  config_profile_name = 'EUCANCAN/vegan test data'
  configProfileDescription = 'Minimal test dataset to check pipeline functions'

  // Limit resources so that this can run
  maxCpus = 2
  maxMemory = 8.GB
  maxTime = 48.h

  // Input data - Sample Plan
  samplePlan = "${projectDir}/test/csv/hpc-bench-wgs-13x.csv"
  //samplePlan = "$projectDir/test/csv/hpc-bench-wgs-13x_ubam.csv"
  design = "${projectDir}/test/csv/hpc-bench-wgs-13x-design.csv"

  // Annotations
  genome =  'hg19_base'

  //Step
  step = 'mapping'

  // Tools
  tools = 'haplotypecaller,manta,mutect2,snpeff'

  // Target
  targetBED = "${projectDir}/test/target/TargetRegions.bed"
}
