/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run main.nf -profile test
 */

// https://github.com/nf-core/test-datasets/tree/sarek

params {

  config_profile_name = 'EUCANCAN/nf-wgswes test data'
  configProfileDescription = 'Minimal test dataset to check pipeline functions'

  // Limit resources so that this can run
  maxCpus = 7
  maxMemory = 32.GB
  maxTime = 5.h

  // Input data - Sample Plan
  input = "$baseDir/test/data/tsv/HPC-bench-test-deam-downbam-local.tsv"

  // Metadata

  // Annotations
  genome =  'GRCh38'

  //Step
  step = 'mapping'

  // Tools
//  tools = 'manta'

  // Target
  targetBED = "$baseDir/test/data/TargetRegions.bed"

  intervals = "$baseDir/test/data/wgs_calling_small_regions.hg38.bed"

//  skipQC = 'bamQC'
}
