params.resultdir 	= "/mnt/beegfs/home/fjarlier/NEXTFLOW_MPI/results"
params.fastq1		= "/mnt/beegfs/home/fjarlier/DATA/5X/HG001.5X.R1.fastq"
params.fastq2           = "/mnt/beegfs/home/fjarlier/DATA/5X/HG001.5X.R2.fastq"
params.Header		= "/mnt/beegfs/home/fjarlier/NEXTFLOW_MPI/results/HG001.sam"	
params.RefGenome 	= "/mnt/beegfs/home/fjarlier/DATA/REFERENCE/BWA_REF/HG19/hg19.fasta"
params.ChrList   	= "/mnt/beegfs/home/fjarlier/DATA/REFERENCE/BWA_REF/HG19/hg19.fa.fai"
params.PythonScript 	= "/mnt/beegfs/home/fjarlier/NEXTFLOW_MPI/mpiSORT/examples/informaticResources.py"
params.MPIBWA		= "/mnt/beegfs/home/fjarlier/NEXTFLOW_MPI/mpiBWA/src/mpiBWAByChr"
params.MPISORT		= "/mnt/beegfs/home/fjarlier/NEXTFLOW_MPI/mpiSORT/src/mpiSORT"
params.SAMTOOLS		= "/mnt/beegfs/home/fjarlier/SAMTOOLS/samtools-1.11/samtools"
params.MPIBWAWRAP	= "/mnt/beegfs/home/fjarlier/NEXTFLOW_MPI/mpibwa_bychr.sh"
params.MPISortQuery 	= "/mnt/beegfs/home/fjarlier/NEXTFLOW_MPI/mpisort_query.sh"
params.MPISortCoord 	= "/mnt/beegfs/home/fjarlier/NEXTFLOW_MPI/mpisort_coord.sh"

